<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <title>Lora操作页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href={% static "app/img/favicon.ico" %}/>
    <link rel="stylesheet" href= {% static "app/css/bootstrap.min.css" %} />
    <style>
        .nav-block li{
            width: 24.8%;
            text-align: center;
        }
        .menu-item > div{
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }
        @media screen and (max-width: 960px){
            body{background:#000;}
            .nav-block li{  width: 24%;  }
        }
    </style>
</head>
<body style="background-color: #e6eef1;">
    <div class="container clearfix navbar-fixed-top" style="background: #e0d2d2; width: 100%;">
        <div class="col-md-12 column">
            <ul class="nav nav-pills nav-block">
                <li class="active">
                     <a href="#login">登陆服务</a>
                </li>
                <li>
                     <a href="#sendto">下发数据</a>
                </li>
                <li>
                     <a href="#logout">登出服务</a>
                </li>
                <li>
                     <a href="#receive_data">接收数据</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container menu-item" style="margin-top:5px;">

        <div class="clearfix" id="login" style="border:2px white dotted;margin: 20px 0;border-radius: 10px;margin-top: 50px;">
            <div class="col-md-offset-4 col-md-4 btn-xs-12 column" style="text-align: center;padding: 15px;">
                <button class="btn btn-success btn-block" onclick="msp_login();">登陆服务器</button>
            </div>
            <div class="col-md-12" style="text-align: center;display: none;">
                <h4>登陆结果： <span name="loginResult">成功</span></h4>
            </div>
            <div class="col-md-12" style="text-align: center;display: none;">
                <div class="col-md-3" style="height: 55px;line-height: 55px;"><h4 style="padding: 6px 12px;">登陆结果： <span name="loginFailedResult"></span></h4></div>
                <div class="col-md-6" style="height: 55px;line-height: 55px;"><h4 style="padding: 6px 12px;">登陆信息： <span style="padding: 0 10px;">AppEUI</span><input value="AA555A0000000000"></h4></div>
                <div class="col-md-3" style="height: 55px;line-height: 55px;"><h4><button class="btn btn-danger ">更新AppEUI并重新登录</button></h4></div>
            </div>
        </div>
        <div class="clearfix" id="sendto" style="border:2px white dotted;margin: 20px 0;border-radius: 10px;padding: 20px;">
            <div class="col-md-12" style="text-align: center;">
                <div class="col-md-3" style="height: 35px;line-height: 35px;">
                    <h4>DevEUI</h4>
                </div>
                <div class="col-md-3" style="height: 55px;line-height: 55px;">
                    <input class="btn btn-block">
                </div>
                <div class="col-md-3" style="height: 35px;line-height: 35px;">
                    数据
                </div>
                <div class="col-md-3" style="height: 55px;line-height: 55px;">
                    <input class="btn btn-block">
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4 btn-xs-12 column" style="text-align: center;padding: 15px;">
                <button class="btn btn-info btn-block" onclick="msp_sendto()">下发数据</button>
            </div>
            <div class="col-md-12" style="text-align: center;display: none;">
                <h4>下发结果： <span name="sendtoResult">成功</span></h4>
            </div>
        </div>
        <div class="clearfix" id="logout" style="border:2px white dotted;margin: 20px 0;border-radius: 10px;">
            <div class="col-md-offset-4 col-md-4 btn-xs-12 column" style="text-align: center;padding: 15px;">
                <button class="btn btn-danger btn-block" onclick="msp_logout()">登出服务器</button>
            </div>
            <div class="col-md-12" style="text-align: center;;display: none;">
                <h4>登出结果： <span name="logoutResult">成功</span></h4>
            </div>
        </div>
        <div class="clearfix" id="receive_data" style="border:2px white dotted;margin: 20px 0;border-radius: 10px;height: 500px;">
            <div class="col-md-offset-4 col-md-4 btn-xs-12 column" style="text-align: center;padding: 15px;">
                <button class="btn btn-warning btn-block" onclick="msp_receive_data();"><span name="receiveTag">接受数据</span></button>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <textarea class="btn btn-block" style="text-align: left;height: 300px;" name="receiveData">

                </textarea>
            </div>
        </div>
    </div>
    <script src= {% static "app/js/jquery-3.1.1.min.js" %}></script>
    <script src= {% static "app/js/bootstrap.min.js" %}></script>
    <script src= {% static "app/js/highcharts.js" %}></script>
    <script src="{% static "js/ws4redis.js" %}" type="text/javascript"></script>
    <script>

        jQuery(document).ready(function($) {
            try{
                 var  wsServer = 'ws://localhost:33681/';
                 var  websocket = new WebSocket(wsServer);
                 websocket.onopen = function (evt) { onOpen(evt) };
                 websocket.onclose = function (evt) { onClose(evt) };
                 websocket.onmessage = function (evt) { onMessage(evt) };
                 websocket.onerror = function (evt) { onError(evt) };
                 function onOpen(evt) {
                     console.log("Connected to WebSocket server.");
                     $("[name=receiveTag]").parent().attr("disabled", true);
                     $("[name=receiveTag]").html("接收中...");
                        receiveTagToggle();
                 }
                 function onClose(evt) {
                    console.log("Disconnected");
                 }
                 function onMessage(evt) {
                     $("[name=receiveData]").val(evt.data);
                     console.log('Retrieved data from server: ' + evt.data);
                 }
                 function onError(evt) {
                    console.log('Error occured: ' + evt.data);
                 }

            }catch (err){
                console.log(err);
            }

        });
{#        function readLog(){#}
{#            $.ajax({#}
{#                url: '/msp_receive_log/',#}
{#                type: 'POST',#}
{#                data:{},#}
{#                success:function(res){#}
{#                    $("[name=receiveData]").val(res);#}
{#                },#}
{#                error:function(res){#}
{#                    alert(res);#}
{#                }#}
{#            });#}
{#        }#}
        $(function(){
            $(".nav-pills li").on("click", function(){
                $(this).addClass("active").siblings().removeClass("active");
            });
            $("[name=receiveTag]").parent().on("click", msp_receive_data);
            $("[name=receiveTag]").parent().on("click", msp_receive_data);
        });
{#        setInterval(readLog, 1000);#}
        function msp_login(){
            $.ajax({
                url: '/msp_login/',
                type: 'POST',
                data:{},
                success:function(res){
                    if(res == "success"){
                        $("[name=sendtoResult]").html("成功").parent().parent().fadeIn(2000);
                    }else{
                        $("[name=loginFailedResult]").html("失败").parent().parent().parent().fadeIn(2000);
                    }
                },
                error:function(res){
                    alert(res);
                }
            });
        }
        function msp_sendto(){
            $.ajax({
                url: '/msp_sendto/',
                type: 'POST',
                data:{},
                success:function(res){
                    if(res == "success"){
                        $("[name=sendtoResult]").html("成功").parent().parent().fadeIn(2000);
                    }else{
                        $("[name=sendtoResult]").html("失败").parent().parent().fadeIn(2000);
                    }
                },
                error:function(res){
                    alert(res);
                }
            });
        }
        function msp_logout(){
            $.ajax({
                url: '/msp_logout/',
                type: 'POST',
                data:{},
                success:function(res){
                    if(res == "success"){
                        $("[name=logoutResult]").html("成功").parent().parent().fadeIn(2000);
                    }else{
                        $("[name=logoutResult]").html("失败").parent().parent().fadeIn(2000);
                    }
                },
                error:function(res){
                    alert(res);
                }
            });
        }
        function msp_receive_data(){
            $.ajax({
                url: '/msp_receive_data/',
                type: 'POST',
                data:{},
                success:function(res){
                    if(res == "success"){
                        $("[name=receiveTag]").parent().attr("disabled", true);
                        $("[name=receiveTag]").html("接收中...");
                        receiveTagToggle();
                        try{
                             var  wsServer = 'ws://localhost:33681/';
                             var  websocket = new WebSocket(wsServer);
                             websocket.onopen = function (evt) { onOpen(evt) };
                             websocket.onclose = function (evt) { onClose(evt) };
                             websocket.onmessage = function (evt) { onMessage(evt) };
                             websocket.onerror = function (evt) { onError(evt) };
                             function onOpen(evt) {
                                console.log("Connected to WebSocket server.");
                             }
                             function onClose(evt) {
                                console.log("Disconnected");
                             }
                             function onMessage(evt) {
                                 $("[name=receiveData]").val(evt.data);
                                 console.log('Retrieved data from server: ' + evt.data);
                             }
                             function onError(evt) {
                                console.log('Error occured: ' + evt.data);
                             }

                        }catch (err){
                            console.log(err);
                        }
                    }
                },
                error:function(res){
                    alert(res);
                }
            });

        }
        function receiveTagToggle(){
            setInterval(function(){
                if($("[name=receiveTag]").hasClass("receive_tag_in")){
                    $("[name=receiveTag]").removeClass("receive_tag_in").addClass("receive_tag_out").fadeOut(1000);
                }else{
                    $("[name=receiveTag]").removeClass("receive_tag_out").addClass("receive_tag_in").fadeIn(1000);
                }

            },1000);
        }
    </script>
    <script>

    </script>
</body>
</html>