{% extends "server/server_base.html" %}
{% block title %}设备列表{% endblock %}
{% block special_css %}
    <style>
        .production-item .thumbnail{
            background-color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }
        .production-item .thumbnail:hover{
            border: 1px solid black;
        }
    </style>
{% endblock %}
{% block content_body %}
    <div class = "device-list" style="padding-top: 20px;">
        {% for device in device_list %}
        <div class="col-md-3 col-xs-12 production-item">
            <div class="thumbnail">
                <div class="product-info">
                    <h5 class="product-title">
                        {{ device.name }}
                    </h5>
                    <p class="product-address">
                        {{ device.address }}
                    </p>
                    <p class="product-online-time">
                        {{ device.install_time }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
{% block special_js %}
<script>
    $(".production-item").on("click", function(){
        window.location.href = "/device/1/";
    });
</script>
{% endblock %}