{% extends "server/server_base.html" %}
{% block title %}参数配置{% endblock %}
{% block special_css %}
    <style>
        .ipt {
            display: inline-block;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .ipt-block{
            display: block;
            width: 100%;
        }
        .device-info div{
            margin-bottom: 40px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content_body %}

    <div class = "device-add" style="padding-top: 20px;">
        <div class="project-info" style="padding-left: 20px;">
            <div class="clearfix">
                <p>
                    项目名称：多参数数据采集
                </p>
                <p>
                    项目编号：JS1
                </p>
            </div>
        </div>
        <hr>
        <div class="clearfix device-info" style="margin-top: 20px;">
            <div class="col-md-12">
                解析系数设定
            </div>
            {% for sensor in project_sensor_list %}
                <div class="col-md-2">
                    {{ sensor.name }}
                </div>
                <div class="col-md-4">
                    <input id = "{{ sensor.id }}" type="text" class="sensor-parameter ipt ipt-block" style="text-align: start;" value="{{ sensor.val }}">
                </div>
            {% endfor %}
            <div class="col-md-12">
                <button class="btn btn-block btn-success" id="updateSensorParameter">更新</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
<script>
    $("#updateSensorParameter").on("click", function(){
        if(confirm("确认更新吗？")){
            var $sensorParameterList = $(".sensor-parameter");
            var parameter_dic = {};
            $sensorParameterList.each(function(){
                parameter_dic[$(this).attr("id")] = $(this).val();
            });
            $.ajax({
                url: '/server_device_parameter/',
                type: 'POST',
                data: {paramater_data:JSON.stringify(parameter_dic)},
                success:function(res){
                    if(res == "success"){
                        alert("更新成功");
                        window.location = "/server_device_parameter/";
                    }else{
                        alert("更新失败，请稍后再试");
                    }
                },
                error:function(res){
                    alert("更新失败，请稍后再试");
                }
            });
        }else{

        }
    });
</script>
{% endblock %}