{% extends "server/server_base.html" %}
{% block title %}{{ device.name }}{% endblock %}
{% block special_css %}
    <style>
        .ipt {
            display: inline-block;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .ipt-block{
            display: block;
            width: 100%;
        }
        .device-info div{
            margin-bottom: 40px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content_body %}
    <div class = "device-add" style="padding-top: 120px;">
        <div class="clearfix device-info">
            <div class="col-md-12">
                <div class="col-md-offset-2 col-md-2">
                    编号
                </div>
                <div class="col-md-6">
                    <input type="text" id = "device_id" class="ipt ipt-block" style="text-align: start;" value="{{ device.id }}" disabled="disabled">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-2 col-md-2">
                    名称
                </div>
                <div class="col-md-6">
                    <input type="text" id = "name" class="ipt ipt-block" style="text-align: start;" value="{{ device.name }}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-2 col-md-2">
                    地址
                </div>
                <div class="col-md-6">
                    <input type="text" id = "address" class="ipt ipt-block" style="text-align: start;" value="{{ device.address }}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-2 col-md-2">
                    安装时间
                </div>
                <div class="col-md-6">
                    <input type="date" id = "install_time" class="ipt ipt-block" style="line-height: inherit;" value="{{ device.install_time }}">
                </div>
            </div>

            <div class="col-md-6">
                <button class="btn btn-block btn-success" id="addDevice">更新</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-success" onclick="window.location.href='/server_device_data_list?device_id={{ device.id }}'">查看数据</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
<script>
$("#addDevice").on("click", function(){
    var device_id = $.trim($("#device_id").val());
    if(device_id == ""){
        $("#device_id").focus();
        return;
    }
    var name = $.trim($("#name").val());
    if(name == ""){
        $("#name").focus();
        return;
    }
    var address = $.trim($("#address").val());
    if(address == ""){
        $("#address").focus();
        return;
    }
    var install_time = $.trim($("#install_time").val());
    if(install_time == ""){
        $("#install_time").focus();
        return;
    }
    if(confirm("确认更新？")){
        $.ajax({
            url:'/server_device_info/',
            type: 'POST',
            data:{device_id:device_id, name:name, address:address, install_time:install_time},
            success:function(res){
                if(res == "success"){
                    alert("更新成功");
                    window.location.href = "/server_index/";
                }else{
                    alert("更新失败");
                }

            },
            error:function(res){
                alert("更新失败");
            }
        })
    }else{

    }
});
</script>
{% endblock %}