{% extends "phone/base.html" %}
{% load static from staticfiles %}
{% block title %}排名{% endblock %}
{% block special_css %}
    <style>
        #header{
            text-align: center;
            color:white;
            margin-bottom:10px;
        }
        .ranking-list{
            margin-top: 10px;
            font-size: 1.5rem;
            color: white;
        }
        #MultiTabWrapper{
            background: rgba(0,0,0,0.4);
        }
        .pure-menu-list{
            font-size:1.5rem;
{#            background: rgba(0,0,0,0.4);#}
{#            width: 100%;#}
        }
        .pure-menu-link-active{
            background: blue;
            border-radius: 5px;
        }
        .disactive{
            background: #2d6499;
        }
        .pure-menu-link:hover{
            background: blue;
            border-radius: 5px;
        }
        .ranking-list ol li{
            padding: 5px 0px;
            margin-bottom: 5px;
            border-bottom:1px dotted white;
            overflow: hidden;
        }
        .ranking-list ol li span{
            padding: 5px 20px;
            border-radius: 5px;
            float: right;
        }
        .color-1{  background: green;  }
        .color-2{  background: greenyellow;  }
        .color-3{  background: orange;  }
        .color-4{  background: orangered;  }
        .color-5{  background: indianred;  }
        .color-6{  background: darkred;  }
    </style>
{% endblock %}

{% block body_content %}
    <div id="header">
        空气排名
    </div>
    <nav id="MultiTabWrapper">
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable" style="padding: 0;">
            <ul class="pure-menu-list" style="padding: 0.1rem;">
{#                <li name = "tag1" v-on:click="change('aqi', $event)" class="pure-menu-item" v-bind:class="[disactive]"><a name="current_item" href="#" class="pure-menu-link">AQI</a></li>#}
{#                <li v-on:click="change('pm25', $event)" class="pure-menu-item" v-bind:class="[disactive]"><a name="current_item" href="#" class="pure-menu-link">PM2.5</a></li>#}
                <li class="pure-menu-item" id="aqi"><a name="current_item" href="#" class="pure-menu-link">AQI</a></li>
                <li class="pure-menu-item" id="pm25"><a name="current_item" href="#" class="pure-menu-link">PM2.5</a></li>
                <li class="pure-menu-item" id="pm10"><a name="current_item" href="#" class="pure-menu-link">PM10</a></li>
                <li class="pure-menu-item" id="so2"><a name="current_item" href="#" class="pure-menu-link">SO2</a></li>
                <li class="pure-menu-item" id="no2"><a name="current_item" href="#" class="pure-menu-link">NO2</a></li>
                <li class="pure-menu-item" id="co"><a name="current_item" href="#" class="pure-menu-link">CO</a></li>
                <li class="pure-menu-item" id="o3"><a name="current_item" href="#" class="pure-menu-link">O3</a></li>
            </ul>
        </div>
    </nav>
    <div class="ranking-list">
        <ol style="padding:20px;" name="aqi">
            {% for aqi in aqi_list %}
                <li>{{ aqi.name }}<span class="color-{{ aqi.level }}">{{ aqi.AQI }}</span></li>
            {% endfor %}
{#            <li>1号节点<span class="color-2">53</span></li>#}
{#            <li>1号节点<span class="color-3">53</span></li>#}
{#            <li>1号节点<span class="color-4">53</span></li>#}
{#            <li>1号节点<span class="color-5">53</span></li>#}
{#            <li>1号节点<span class="color-6">53</span></li>#}
{#            <li>1号节点<span class="color-6">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="pm25">
            {% for pm25 in pm25_list %}
                <li>{{ pm25.name }}<span class="color-{{ pm25.pm25_level }}">{{ pm25.pm25 }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="pm10">
            {% for data in pm10_list %}
                <li>{{ data.name }}<span class="color-{{ data.pm10_level }}">{{ data.pm10 }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="so2">
            {% for data in so2_list %}
                <li>{{ data.name }}<span class="color-{{ data.so2_level }}">{{ data.so2 }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="no2">
            {% for data in no2_list %}
                <li>{{ data.name }}<span class="color-{{ data.no2_level }}">{{ data.no2 }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="co">
            {% for data in co_list %}
                <li>{{ data.name }}<span class="color-{{ data.co_level }}">{{ data.co }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
        <ol style="padding:20px;display: none;" name="o3">
            {% for data in o3_list %}
                <li>{{ data.name }}<span class="color-{{ data.o3_level }}">{{ data.o3 }}</span></li>
            {% endfor %}
{#            <li>岐山医药<span class="color-1">53</span></li>#}
{#            <li>创业园<span class="color-1">53</span></li>#}
{#            <li>望华楼<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
{#            <li>1号节点<span class="color-1">53</span></li>#}
        </ol>
    </div>
{% endblock %}
{% block special_js %}
<script>
    $("[name=aqi]").siblings().css("display", "none");
    $("[name=aqi]").css("display", "block");
    $(".pure-menu-item").on("click", function(){
        var name = $(this).attr("id");
        console.log(name);
        $("[name=" + name + "]").siblings().css("display", "none");
        $("[name=" + name + "]").css("display", "block");
    });
{#    var vm = new Vue({#}
{#        el:"#MultiTabWrapper",#}
{#        data:{#}
{#            disactive : "disactive",#}
{#        },#}
{#        methods:{#}
{#            change:function(name, event){#}
{#                console.log(name);#}
{#                $("[name=" + name + "]").css("display", "block");#}
{#                $("[name=" + name + "]").siblings().css("display", "none");#}
{#                console.log(event);#}
{#                this.disactive="disactive";#}
{#                event.target.parentNode.style.background = "blue";#}
{#            }#}
{#        },#}
{#        created:function(){#}
{#        }#}
{#    })#}
</script>
{% endblock %}