{% extends "admin/admin_base.html" %}
{% block title %}管理首页{% endblock %}

{% block body_content %}
    <div class="clearfix">

{#        <div class="col-md-3 col-sm-12 border-gray middle-height">#}
{#            <blockquote style="border-left: 0" class=" alert-success img-rounded">#}
{#                今日文档数据#}
{#            </blockquote>#}
{#            <blockquote>#}
{#                今日文档：1#}
{#            </blockquote>#}
{#            <blockquote>#}
{#                今日点击量：117#}
{#            </blockquote>#}
{#            <blockquote>#}
{#                总文章数量：117#}
{#            </blockquote>#}
{#            <blockquote>#}
{#                总点击量：117#}
{#            </blockquote>#}
{#        </div>#}
        <div class="col-md-3 col-sm-12 border-gray middle-height">
			<div class="col-md-12 column">
                <blockquote style="border-left: 0" class=" alert-success img-rounded">
                    今日数据采集情况
                </blockquote>
                <blockquote>
                    监测点数量：1
                </blockquote>
                <blockquote>
                    正常工作点：1
                </blockquote>
                <blockquote>
                    PM25采集量：1
                </blockquote>
                <blockquote>
                    CO采集量：1
                </blockquote>
                <blockquote>
                    NO2采集量：1
                </blockquote>
                <blockquote>
                    SO2采集量：1
                </blockquote>
                <blockquote>
                    PM10采集量：1
                </blockquote>
                <blockquote>
                    O3采集量：1
                </blockquote>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 border-gray middle-height">
            <div class="col-md-12">
                <div id="pm25_now" style="min-width:100%;height:300px;margin: 0 auto;"></div>
            </div>
            <div class="col-md-12">
                <div id="other_now" style="min-width:100%;height:300px;margin: 0 auto;"></div>
            </div>
        </div>
    </div>
{#    <div id="description" style="width:90%; height: 400px;"></div>#}
{#    <button id="submit">提交</button>#}
{% endblock %}
{% block special_js %}
    <script>
        var twelve_data = {{ twelve_data | safe}};
        var twelve_data_hour = twelve_data.twelve_data_hour;
        var twelve_data_data = twelve_data.twelve_data_data;
        var twelve_data_so2 = twelve_data_data.so2;
        var twelve_data_pm10 = twelve_data_data.pm10;
        var twelve_data_no2 = twelve_data_data.no2;
        var twelve_data_co = twelve_data_data.co;
        var twelve_data_o3 = twelve_data_data.o3;
        var twelve_data_pm25 = twelve_data_data.pm25;
        $('#pm25_now').highcharts({
            credits:false,
            chart: {
                type: 'spline'
            },
            title: {
                text: '今日PM25监测均值'
            },
            subtitle: {
                text: '来源：各个采集站点'
            },
            xAxis: {
                categories: twelve_data_hour
            },
            yAxis: {
                title: {
                    text: '浓度(ug/m3)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'PM2.5均值',
                data: twelve_data_pm25
            },{
                name: 'PM10均值',
                data: twelve_data_pm10
            }]
        });

        $('#other_now').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '今日其他参数均值'
            },
            subtitle: {
                text: '来源：各站点平均值'
            },
            xAxis: {
                categories: twelve_data_hour,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '参数浓度 (ppm)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} ppm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'SO2',
                data: twelve_data_so2
            }, {
                name: 'O3',
                data: twelve_data_o3
            }, {
                name: 'CO',
                data: twelve_data_co
            }, {
                name: 'NO2',
                data: twelve_data_no2
            }]
        });
    </script>
{% endblock %}
