{% extends "admin/admin_base.html" %}
{% block title %}管理数据{% endblock %}
{% block special_css %}
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            color: #555;
            cursor: default;
            background-color: #57b382;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

    </style>
{% endblock %}
{% block body_content %}
    <div class="clearfix">
        <div class="tabbable" id="tabs-971732">
            <ul class="nav nav-tabs" style="background-color: #ececec;">
                <li class="active" style="width: 50%;text-align: center;border-right: 1px solid #d1d1d1;">
                     <a href="#panel-realTime" data-toggle="tab" style="">数据列表</a>
                </li>
                <li style="width: 50%;text-align: center;border-right: 1px solid #d1d1d1;">
                     <a href="#panel-yesterday" data-toggle="tab">设备列表</a>
                </li>
            </ul>
            <div class="tab-content" style="margin-top: 20px;">
                <div class="tab-pane active" id="panel-realTime">
{#                    <div class="col-md-12 column img-rounded" style="height: auto; line-height: 30px; background: rgba(0,0,0, 0.1); padding: 5px 0;">#}
{#                        <div class="col-md-3" style="padding-right: 1px;">#}
{#                            <label for="" class="col-sm-4 control-label">类型</label>#}
{#                            <div class="col-sm-8">#}
{#                                <select class="btn-block form-control">#}
{#                                    <option>PM25</option>#}
{#                                    <option>PM10</option>#}
{#                                    <option>SO2</option>#}
{#                                    <option>CO</option>#}
{#                                    <option>NO2</option>#}
{#                                    <option>O3</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9">#}
{#                            <div class="form-group">#}
{#                                <label for="" class="col-sm-3 control-label">筛选</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="start_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                                <label for="" class="col-sm-1 control-label">至</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="end_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-12">
                        <table class="table table-hover table-striped td-vertical-middle">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        PM2.5
                                    </th>
                                    <th>
                                        PM10
                                    </th>
                                    <th>
                                        SO2
                                    </th>
                                    <th>
                                        CO
                                    </th>
                                    <th>
                                        NO2
                                    </th>
                                    <th>
                                        O3
                                    </th>
                                    <th>
                                        时间
                                    </th>
                                    <th>
                                        采集点
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                <tr>
                                    <td>1</td>
                                    <td>{{ d.pm25 }}</td>
                                    <td>{{ d.pm10 }}</td>
                                    <td>{{ d.so2 }}</td>
                                    <td>{{ d.co }}</td>
                                    <td>{{ d.no2 }}</td>
                                    <td>{{ d.o3 }}</td>
                                    <td>{{ d.time }}</td>
                                    <td>{{ d.name }}</td>
                                    <td><button class="btn btn-danger btn-block" href="#modal-container-552858" role="button" data-toggle="modal">编辑</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal fade" id="modal-container-552858" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    标题
                                </h4>
                            </div>
                            <div class="modal-body">
                                内容...
                            </div>
                            <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="panel-yesterday">
{#                    <div class="col-md-12 column img-rounded" style="height: auto; line-height: 30px; background: rgba(0,0,0, 0.1); padding: 5px 0;">#}
{#                        <div class="col-md-3" style="padding-right: 1px;">#}
{#                            <label for="" class="col-sm-4 control-label">类型</label>#}
{#                            <div class="col-sm-8">#}
{#                                <select class="btn-block form-control">#}
{#                                    <option>终端</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9">#}
{#                            <div class="form-group">#}
{#                                <label for="" class="col-sm-3 control-label">筛选</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="start_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                                <label for="" class="col-sm-1 control-label">至</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="end_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-12">
                        <table class="table table-hover table-striped td-vertical-middle">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        监测点
                                    </th>
                                    <th>
                                        安装地址
                                    </th>
                                    <th>
                                        安装时间
                                    </th>
                                    <th>
                                        最后数据采集时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for device in device_list %}
                                <tr>
                                    <td>{{ device.id }}</td>
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.address }}</td>
                                    <td>{{ device.install_time }}</td>
                                    <td>{{ device.latest_time }}</td>
                                    <td><button class="btn btn-danger btn-block" href="#modal-container-552858" role="button" data-toggle="modal">编辑</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div id="description" style="width:90%; height: 400px;"></div>#}
{#    <button id="submit">提交</button>#}
{% endblock %}
{% block special_js %}

{#<script>#}
{#    var id_content = UE.getEditor('description',{'initialFrameWidth': 800, 'initialFrameHeight': 300, 'serverUrl': '/ueditor/controller/?imagePathFormat=img/&filePathFormat=img/'});#}
{#    var submit = document.getElementById("submit");#}
{#    submit.onclick = function(){#}
{#        var productDescription = id_content.getContent();#}
{#        alert(productDescription);#}
{#    };#}
{#</script>#}
{% endblock %}
