<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理首页</title>
    {{ form.media }}
</head>
<body>
    <div id="description" style="width:90%; height: 400px;"></div>
    <button id="submit">提交</button>
    <script>
        var id_content = UE.getEditor('description',{'initialFrameWidth': 800, 'initialFrameHeight': 300, 'serverUrl': '/ueditor/controller/?imagePathFormat=img/&filePathFormat=img/'});
{#        var desc = "desc";#}
{#        id_content.ready(function(){#}
{#            id_content.setContent(desc);#}
{#        });#}
        var submit = document.getElementById("submit");
        submit.onclick = function(){
            var productDescription = id_content.getContent();
            alert(productDescription);
        };
    </script>
</body>
</html>