{% extends "admin/admin_base.html" %}
{% block title %}管理数据{% endblock %}
{% block special_css %}
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            color: #555;
            cursor: default;
            background-color: #57b382;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

    </style>
{% endblock %}
{% block body_content %}
    <div class="clearfix">
        <div class="tabbable" id="tabs-971732">
            <ul class="nav nav-tabs" style="background-color: #ececec;">
                <li class="active" style="width: 50%;text-align: center;border-right: 1px solid #d1d1d1;">
                     <a href="#panel-realTime" data-toggle="tab" style="">数据列表</a>
                </li>
                <li style="width: 50%;text-align: center;border-right: 1px solid #d1d1d1;">
                     <a href="#panel-yesterday" data-toggle="tab">设备列表</a>
                </li>
            </ul>
            <div class="tab-content" style="margin-top: 20px;">
                <div class="tab-pane active" id="panel-realTime">
{#                    <div class="col-md-12 column img-rounded" style="height: auto; line-height: 30px; background: rgba(0,0,0, 0.1); padding: 5px 0;">#}
{#                        <div class="col-md-3" style="padding-right: 1px;">#}
{#                            <label for="" class="col-sm-4 control-label">类型</label>#}
{#                            <div class="col-sm-8">#}
{#                                <select class="btn-block form-control">#}
{#                                    <option>PM25</option>#}
{#                                    <option>PM10</option>#}
{#                                    <option>SO2</option>#}
{#                                    <option>CO</option>#}
{#                                    <option>NO2</option>#}
{#                                    <option>O3</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9">#}
{#                            <div class="form-group">#}
{#                                <label for="" class="col-sm-3 control-label">筛选</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="start_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                                <label for="" class="col-sm-1 control-label">至</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="end_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-12">
                        <table class="table table-hover table-striped td-vertical-middle">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        PM2.5
                                    </th>
                                    <th>
                                        PM10
                                    </th>
                                    <th>
                                        SO2
                                    </th>
                                    <th>
                                        CO
                                    </th>
                                    <th>
                                        NO2
                                    </th>
                                    <th>
                                        O3
                                    </th>
                                    <th>
                                        时间
                                    </th>
                                    <th>
                                        采集点
                                    </th>
                                    {% if adminer.user.is_staff %}
                                    <th>
                                        操作
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                <tr>
                                    <td>{{ d.id }}</td>
                                    <td>{{ d.pm25 }}</td>
                                    <td>{{ d.pm10 }}</td>
                                    <td>{{ d.so2 }}</td>
                                    <td>{{ d.co }}</td>
                                    <td>{{ d.no2 }}</td>
                                    <td>{{ d.o3 }}</td>
                                    <td>{{ d.time }}</td>
                                    <td>{{ d.name }}</td>
                                    {% if adminer.user.is_staff %}
                                        <td><button class="btn btn-danger btn-block" href="#modal-data-{{ d.id }}" role="button" data-toggle="modal">编辑</button></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 column" style="text-align: right;">
                        <ul class="pagination account-pagination" style="">
                            <li>
                                 <a href="/admin_data?page={{ page|add:-1 }}">上一页</a>
                            </li>
                            <li>
                                 <a href="#"><span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span></a>
                            </li>
                            <li>
                                 <a href="/admin_data?page={{ page|add:1 }}">下一页</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% for d in data %}
                <div class="modal fade" id="modal-data-{{ d.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    数据ID：{{ d.id }}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="ID" class="col-sm-2 control-label">ID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="" readonly value="{{ d.id }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pm25" class="col-sm-2 control-label">PM2.5</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_pm25" value="{{ d.pm25 }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pm10" class="col-sm-2 control-label">PM10</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_pm10"  value="{{ d.pm10 }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="so2" class="col-sm-2 control-label">SO2</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_so2" value="{{ d.so2 }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="CO" class="col-sm-2 control-label">CO</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_co" value="{{ d.co }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NO2" class="col-sm-2 control-label">NO2</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_no2"  value="{{ d.no2 }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="O3" class="col-sm-2 control-label">O3</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="{{ d.id }}_o3" value="{{ d.o3 }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="time" class="col-sm-2 control-label">时间</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="{{ d.id }}_time" value="{{ d.time }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="col-sm-2 control-label">采集点</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="{{ d.id }}_name" value="{{ d.name }}" readonly/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="updateData(this.id);" id="save_{{ d.id }}">保存</button>
                                <button type="button" class="btn btn-danger" onclick="deleteData(this.id);" id="delete_{{ d.id }}">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="tab-pane" id="panel-yesterday">
{#                    <div class="col-md-12 column img-rounded" style="height: auto; line-height: 30px; background: rgba(0,0,0, 0.1); padding: 5px 0;">#}
{#                        <div class="col-md-3" style="padding-right: 1px;">#}
{#                            <label for="" class="col-sm-4 control-label">类型</label>#}
{#                            <div class="col-sm-8">#}
{#                                <select class="btn-block form-control">#}
{#                                    <option>终端</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9">#}
{#                            <div class="form-group">#}
{#                                <label for="" class="col-sm-3 control-label">筛选</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="start_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                                <label for="" class="col-sm-1 control-label">至</label>#}
{#                                <div class="col-sm-4">#}
{#                                    <input name="end_time" type="date" class="form-control" id="">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-12">
                        <table class="table table-hover table-striped td-vertical-middle">
                            <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        监测点
                                    </th>
                                    <th>
                                        安装地址
                                    </th>
                                    <th>
                                        安装时间
                                    </th>
                                    <th>
                                        最后数据采集时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for device in device_list %}
                                <tr>
                                    <td>{{ device.id }}</td>
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.address }}</td>
                                    <td>{{ device.install_time }}</td>
                                    <td>{{ device.latest_time }}</td>
                                    <td><button class="btn btn-danger btn-block" href="#modal-device-{{ device.id }}" role="button" data-toggle="modal">编辑</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
{#                    每个设备对应的悬浮窗#}
                    {% for d in device_list %}
                        <div class="modal fade" id="modal-device-{{ d.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            设备ID：{{ d.id }}
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="ID" class="col-sm-2 control-label">ID</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="" readonly value="{{ d.id }}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name" class="col-sm-2 control-label">监测点</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="{{ d.id }}_name" value="{{ d.name }}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address" class="col-sm-2 control-label">安装地址</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="{{ d.id }}_address"  value="{{ d.address }}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="col-sm-2 control-label">安装时间</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="{{ d.id }}_install_time" value="{{ d.install_time }}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="col-sm-2 control-label">时间</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="{{ d.id }}_latest_time" value="{{ d.latest_time }}" readonly/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" onclick="updateDevice(this.id)" id="save_{{ d.id }}">保存</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteDevice(this.id)" id="delete_{{ d.id }}">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{#    <div id="description" style="width:90%; height: 400px;"></div>#}
{#    <button id="submit">提交</button>#}
{% endblock %}
{% block special_js %}
<script>
    function updateData(id){
        var $this = $("#" + id);
        var data_id = id.slice(5);
        var pm25 = $("#" + data_id + "_pm25").val();
        var pm10 = $("#" + data_id + "_pm10").val();
        var so2 = $("#" + data_id + "_so2").val();
        var co = $("#" + data_id + "_co").val();
        var no2 = $("#" + data_id + "_no2").val();
        var o3 = $("#" + data_id + "_o3").val();
        var time = $("#" + data_id + "_time").val();
        console.log(pm25);
        console.log(pm10);
        console.log(so2);
        console.log(co);
        console.log(no2);
        console.log(o3);
        $.ajax({
            url: '/admin_data/update/',
            type: 'POST',
                data:{data_id:data_id, pm25:pm25, pm10:pm10, so2:so2, co:co, no2:no2, o3:o3, time:time},
            success:function(res){
                if(res == "success"){
                    alert("修改成功");
                    window.location.reload()
                }else{
                    alert("修改失败，请稍后再试");
                }
            },
            error:function(res){
                alert(res);
            }
        })
    }
    function deleteData(id){
        var data_id = id.slice(7);
        $.ajax({
            url: '/admin_data/update/',
            type: 'POST',
            data:{data_id:data_id, delete_tag:1},
            success:function(res){
                if(res == "success"){
                    alert("删除成功");
                }else{
                    alert("删除失败，请稍后再试");
                }
            },
            error:function(res){
                alert(res);
            }
        })
    }
    function updateDevice(id){
        var $this = $("#" + id);
        var device_id = id.slice(5);
        var name = $("#" + device_id + "_name").val();
        var address = $("#" + device_id + "_address").val();
        var install_time = $("#" + device_id + "_install_time").val();
        $.ajax({
            url: '/admin_data/device/update/',
            type: 'POST',
            data:{device_id:device_id, name:name, address:address, install_time:install_time},
            success:function(res){
                if(res == "success"){
                    alert("修改成功");
                    window.location.reload()
                }else{
                    alert("修改失败，请稍后再试");
                }
            },
            error:function(res){
                alert(res);
            }
        })
    }
    function deleteDevice(id){
        var device_id = id.slice(7);
        $.ajax({
            url: '/admin_data/device/update/',
            type: 'POST',
            data:{device_id:device_id, delete_tag:1},
            success:function(res){
                if(res == "success"){
                    alert("删除成功");
                    window.location.reload();
                }else{
                    alert("删除失败，请稍后再试");
                }
            },
            error:function(res){
                alert(res);
            }
        })
    }
</script>
{% endblock %}
