<!DOCTYPE html>
<html>
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href={% static "app/img/favicon.ico" %}/>
    <link rel="stylesheet" href= {% static "app/css/bootstrap.min.css" %} />
    <link rel="stylesheet" href= {% static "app/css/emp.css" %} />
    {% block special_css %}
    {% endblock %}
</head>
<body style="background-color: #ddfffb;">
    <div style="width: 80%;margin:0 auto;">
        <div class="clearfix">
            <div class="top" id="temp_right" style="float:left; background: url({% static "app/img/head2.png" %}); height: 200px;">
                <img src={% static "app/img/logo2.png" %}>
            </div>
            <div class="col-md-12 col-sm-12 head-mt60 text-right">
                <ul style="display: inline-block;" class="li-tab">
                    <li name = "index" class="li-round" style="display: inline-block;" onclick="window.location.href='/index/'">实时数据</li>
                    <li name = "historical_device" class="li-round" style="display: inline-block;" onclick="window.location.href='/historical_device/'">历史数据</li>
{#                    <li name = "historical_device_data" class="li-round" style="display: inline-block;" onclick="window.location.href='/historical_device_data/1/'">站点数据</li>#}
                    <li name = "station" class="li-round" style="display: inline-block;" onclick="window.location.href='/station/'">站点排行</li>
                    <li name = "information" class="li-round" style="display: inline-block;" onclick="window.location.href='/information/'">平台介绍</li>
                </ul>
            </div>
        </div>
        {% block body_content %}
            Welcome to the PM25
        {% endblock %}
    </div>
    <div class="horizontal-text-center footer-fix-bottom" style="background-color: rgba(0,0,0,0.75);margin-top: 40px;">
        <section>
            <h4>友情链接</h4>
            <p>
                <a href="http://www.nmc.gov.cn/" target="_blank" rel="nofollow">中央气象台</a>
                 |<a href="http://www.weather.com/" target="_blank" rel="nofollow">美国气象频道</a>
                 |<a href="http://www.weather.com.cn/" target="_blank" rel="nofollow">中国天气网</a>
                 |<a href="http://www.pm25.com/" target="_blank" rel="nofollow">绿色呼吸</a>
                 |<a href="http://www.feeyo.com/" target="_blank" rel="nofollow">飞友网</a>
                 |<a href="http://i.firefoxchina.cn/?www.firefoxchina.cn" target="_blank" rel="nofollow">火狐浏览器</a>
                 |<a href="http://tianqitong.sina.cn/" target="_blank" rel="nofollow">天气通</a>
                 |<a href="http://weather.mipang.com" target="_blank" rel="nofollow">米胖天气</a>
                 |<a href="http://www.xn121.com/" target="_blank" rel="nofollow">兴农网</a>
                 |<a href="http://www.mlogcn.com/" target="_blank" rel="nofollow">象辑科技</a>
                 |<a href="http://www.tianqi.com/" target="_blank" rel="nofollow">天气网</a>
            </p>
        </section>
        <section>
            <p>关于我们|联系我们|批评建议</p>
            <p>Copyright © 2016-2016 JSFY, All Rights Reserved</p>
            <p style="margin:0;">京师方圆信息技术有限公司 版权所有|<span class="hander" onclick="window.location.href='/admin_index/'">管理入口</span>|<span class="hander" onclick="window.location.href='/user_logout/'">登出账号</span></p>
        </section>
    </div>

    <script src= {% static "app/js/jquery-3.1.1.min.js" %}></script>
{#    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>#}
    <script src= {% static "app/js/bootstrap.min.js" %}></script>
    <script src= {% static "app/js/highcharts.js" %}></script>
    {% block special_js %}
    {% endblock %}
    <script>
        var path = window.location.pathname;
        var len = path.length;
        path = path.slice(1, len-1);
        try{
            $("[name=" + path + "]").siblings().removeClass("active");
            $("[name=" + path + "]").addClass("active");
        }catch(e){
            ;
        }

    </script>
    <script>
        $(window).on('beforeunload',function(){
            console.log('close the page');
            $.ajax({
                url : '/user_logout/',
                type: 'POST',
                data: {},
                success:function(res){
                    console.log(res);
                },
                error:function(res){
                    console.log(res);
                }
            });
        });
    </script>
</body>
</html>