{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}历史数据{% endblock %}
{% block special_css %}
    <style>
        #circle {
            width: 150px;
            height: 150px;
            background-color: #ffffff; /* Can be set to transparent */
            border-width: 12px;
            border-color:#bfaeae;
            animation:mymove 6s infinite;
            animation-timing-function:ease;
            border-style:solid;
            -webkit-border-radius: 100px;
        }
        @keyframes mymove
        {
            0% { border-color:#68cb00;}
            20% { border-color:#f6e200;}
            40% { border-color:#fb890f;}
            60% { border-color:#df2d00;}
            80% { border-color:#b414bb;}
            100% { border-color:#b414bb;}
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="form-group">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">类型</label>
                            <div class="col-sm-8">
                                <select class="btn-block form-control" name="data_type">
                                    <option value="pm25">PM2.5</option>
                                    <option value="pm10">PM10</option>
                                    <option value="so2">SO2</option>
                                    <option value="co">CO</option>
                                    <option value="no2">NO2</option>
                                    <option value="o3">O3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">日期</label>
                            <div class="col-sm-9">
                                <input name = "" type="date" class="form-control" id="data_time" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-block btn-success" name="filter_data_type">查找</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div id="parameter_data" style="min-width:100%;height:300px;margin: 0 auto;"></div>
        </div>
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">{{ device.name }}监测点历史数据</p>
        </div>
        <div class="col-md-12">
            <div style="overflow: auto;">
                <table class="table table-striped text-center table-td-center table-condensed">
                    <thead>
                        <tr style="background-color: #e8e8e8">
                            <th class="text-center" style="padding: 15px;">监测站点</th>
                            <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                            <th class="text-center" style="padding: 15px;">PM10浓度</th>
                            <th class="text-center" style="padding: 15px;">SO2</th>
                            <th class="text-center" style="padding: 15px;">NO2</th>
                            <th class="text-center" style="padding: 15px;">CO</th>
                            <th class="text-center" style="padding: 15px;">O3</th>
                            <th class="text-center" style="padding: 15px;">空气质量</th>
                            <th class="text-center" style="padding: 15px;">采集时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_list %}
                            <tr><td>{{ data.name }}</td><td>{{ data.pm25 }}</td><td>{{ data.pm10 }}</td><td>{{ data.so2 }}</td><td>{{ data.no2 }}</td><td>{{ data.co }}</td><td>{{ data.o3 }}</td><td style="vertical-align: middle;"><span>{{ data.AQI_info_1.classification }}</span><span class="level{{ data.AQI_info_1.level_no }}"></span></td><td>{{ data.time }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <ul class="pagination account-pagination" style="">
                <li class="hander">
                     <a onclick="pre();">上一页</a>
                </li>
                <li>
                     <a href="#">
                         <span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span>
                     </a>
                </li>
                <li class="hander">
                     <a onclick="next();">下一页</a>
                </li>
            </ul>
        </div>
        <div class="col-md-offset-9 col-md-3 col-sm-12" style="text-align: right;margin-bottom: 10px;">
{#            <button class="btn btn-info btn-block" onclick="window.open('/historical_device_analysis/{{ device.id }}')">数据统计</button>#}
            <button class="btn btn-info btn-block" onclick="infoTip();">数据统计</button>
        </div>
    </div>

{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
{#    <script src= "http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>#}
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
        function pre(){
            var preUrl = window.location.href;
            var current_page = parseInt($("[name=page]").html()) - 1;
            url = preUrl + "&page=" + current_page;
            window.location.href=url;
        }
        function next(){
            var preUrl = window.location.href;
            var current_page = parseInt($("[name=page]").html()) + 1;
            url = preUrl + "&page=" + current_page;
            window.location.href=url;
        }
    </script>
    <script>
        function infoTip(){
            alert("即将开放,敬请期待");
        }
        $(function(){
            var data_time = "{{ data_time | safe }}";
            $("#data_time").val(data_time.slice(0, 10));
        });
    </script>
    <script>
        var device_name;
        $(function () {
            var parameter = "{{ parameter }}";
            var today_data = {{ today_data | safe }};
            var today_data_time = today_data.today_data_time;
            var today_data_data = today_data.today_data_data;
            var today_data_so2 = today_data_data.so2;
            var today_data_pm10 = today_data_data.pm10;
            var today_data_no2 = today_data_data.no2;
            var today_data_co = today_data_data.co;
            var today_data_o3 = today_data_data.o3;
            var today_data_pm25 = today_data_data.pm25;
            device_name = "{{ device.name }}";
{#            get_graph(today_data_time, today_data_pm25, "PM2.5", device_name);#}
            var dic = {};
            dic["pm25"] = {};
            dic["pm10"] = {};
            dic["so2"] = {};
            dic["co"] = {};
            dic["no2"] = {};
            dic["o3"] = {};
            dic["pm25"]["name"] = "PM2.5";
            dic["pm25"]["val"] = today_data_pm25;
            dic["pm10"]["name"] = "PM10";
            dic["pm10"]["val"] = today_data_pm10;
            dic["so2"]["name"] = "SO2";
            dic["so2"]["val"] = today_data_so2;
            dic["co"]["name"] = "CO";
            dic["co"]["val"] = today_data_co;
            dic["no2"]["name"] = "NO2";
            dic["no2"]["val"] = today_data_no2;
            dic["o3"]["name"] = "O3";
            dic["o3"]["val"] = today_data_o3;

            var name = dic[parameter]["name"];
            var data = dic[parameter]["val"];
            get_graph(today_data_time, data, name, device_name);
            $("[name=data_type]").val(parameter);
            $("[name=data_type]").on("change", function(){
                var val = $(this).val();
                var name = dic[val]["name"];
                var data = dic[val]["val"];
                if(name == "CO"){
                    get_graph_for_co(today_data_time, data, name, device_name);
                }else {
                    get_graph(today_data_time, data, name, device_name);
                }
            });
            $("[name=filter_data_type]").on("click", function(){
                var date = new Date();
                var today_time_str = date.getFullYear() +"-"+ (date.getMonth() + 1) +"-";
                if(date.getDate() < 10){
                    today_time_str += "0" + date.getDate();
                }else{
                    today_time_str += date.getDate();
                };
                var time_val = $("#data_time").val();
                if(time_val > today_time_str ){
                    alert("请选择合法日期");
                    return false;
                }else{
                    var pre_url = window.location.pathname;
                    var parameter = $("[name=data_type]").val();
                    window.location.href=pre_url + "?data_time=" + time_val + "&parameter=" + parameter;
                }
            });
        });

        function get_graph(data_time, data_data, name, device_name){
            $('#parameter_data').html("");
            var time_list = data_time;
            var data_list = data_data;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#00ff00'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#parameter_data').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日' + name + '监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + device_name + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: name + '浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: name,
                    data: datas,
                    color:"#4e505d"
                }]
            });
        }
        function get_graph_for_co(data_time, data_data, name, device_name){
            $('#parameter_data').html("");
            var time_list = data_time;
            var data_list = data_data;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#00ff00'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#parameter_data').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日' + name + '监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + device_name + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: name + '浓度(mg/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'mg/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: name,
                    data: datas,
                    color:"#4e505d"
                }]
            });
        }
    </script>
{% endblock %}