{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}电压历史数据{% endblock %}
{% block special_css %}
{% endblock %}

{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="clearfix">
            <div class="col-md-12">
                <h4 class="city_name" style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">
                    <span name="latest_location">{{ device.name }}</span>&nbsp;
                    <a id="" href="#point-choice" role="button" class="glyphicon glyphicon-edit hander" data-toggle="modal"
                    style="font-size: 16px;color: #000;text-decoration: none;"></a>
                </h4>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="form-group">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">类型</label>
                            <div class="col-sm-8">
                                <select class="btn-block form-control" name="data_type">
                                    <option value="voltage">电压</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">日期</label>
                            <div class="col-sm-9">
                                <input name = "" type="date" class="form-control" id="data_time" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-block btn-success" name="filter_data_type">查找</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div id="parameter_data" style="min-width:100%;height:300px;margin: 0 auto;"></div>
        </div>
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">{{ device.name }}监测点历史数据</p>
        </div>
        <div class="col-md-12">
            <div style="overflow: auto;">
                <table class="table table-striped text-center table-td-center table-condensed">
                    <thead>
                        <tr style="background-color: #e8e8e8">
                            <th class="text-center" style="padding: 15px;">监测站点</th>
                            <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                            <th class="text-center" style="padding: 15px;">PM10浓度</th>
                            <th class="text-center" style="padding: 15px;">SO2</th>
                            <th class="text-center" style="padding: 15px;">NO2</th>
                            <th class="text-center" style="padding: 15px;">CO</th>
                            <th class="text-center" style="padding: 15px;">O3</th>
                            <th class="text-center" style="padding: 15px;">空气质量</th>
                            <th class="text-center" style="padding: 15px;">电压</th>
                            <th class="text-center" style="padding: 15px;">采集时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_list %}
                            <tr><td>{{ data.name }}</td><td>{{ data.pm25 }}</td><td>{{ data.pm10 }}</td><td>{{ data.so2 }}</td><td>{{ data.no2 }}</td><td>{{ data.co }}</td><td>{{ data.o3 }}</td><td style="vertical-align: middle;"><span>{{ data.AQI_info_1.classification }}</span><span class="level{{ data.AQI_info_1.level_no }}"></span></td><td>{{ data.voltage }}</td><td>{{ data.time }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <ul class="pagination account-pagination" style="">
                <li class="hander">
                     <a onclick="pre();">上一页</a>
                </li>
                <li>
                     <a href="#">
                         <span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span>
                     </a>
                </li>
                <li class="hander">
                     <a onclick="next();">下一页</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="point-choice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        请选择站点
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        {% for device in device_list %}
                            <div class="horizontal-center col-md-2 img-rounded hander city-choice-item"
                            onclick="window.location.href='/voltage/?device_id={{ device.id }}'" style="padding: 10px;">{{ device.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
{#    <script src= "http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>#}
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
        function pre(){
            var preUrl = window.location.href;
            var current_page = parseInt($("[name=page]").html()) - 1;
            url = preUrl + "&page=" + current_page;
            window.location.href=url;
        }
        function next(){
            var preUrl = window.location.href;
            var current_page = parseInt($("[name=page]").html()) + 1;
            url = preUrl + "&page=" + current_page;
            window.location.href=url;
        }
    </script>
    <script>
        $(function(){
            var data_time = "{{ data_time | safe }}";
            $("#data_time").val(data_time.slice(0, 10));
        });
    </script>
    <script>
        var device_name;
        $(function () {
            var parameter = "{{ parameter }}";
            var today_data = {{ today_data | safe }};
            var today_data_time = today_data.today_data_time;
            var today_data_data = today_data.today_data_data;
            var today_data_voltage = today_data_data.voltage;
            device_name = "{{ device.name }}";
            var dic = {};
            dic["voltage"] = {};
            dic["voltage"]["name"] = "电压";
            dic["voltage"]["val"] = today_data_voltage;

            var name = dic[parameter]["name"];
            var data = dic[parameter]["val"];
            get_graph(today_data_time, data, name, device_name);
            $("[name=data_type]").val(parameter);
            $("[name=data_type]").on("change", function(){
                var val = $(this).val();
                var name = dic[val]["name"];
                var data = dic[val]["val"];
                get_graph(today_data_time, data, name, device_name);
            });
            $("[name=filter_data_type]").on("click", function(){
                var date = new Date();
                var today_time_str = date.getFullYear() +"-"+ (date.getMonth() + 1) +"-";
                if(date.getDate() < 10){
                    today_time_str += "0" + date.getDate();
                }else{
                    today_time_str += date.getDate();
                };
                var time_val = $("#data_time").val();
                if(time_val > today_time_str ){
                    alert("请选择合法日期");
                    return false;
                }else{
                    var pre_url = window.location.pathname;
                    var parameter = $("[name=data_type]").val();
                    window.location.href=pre_url + "&data_time=" + time_val + "&parameter=" + parameter;
                }
            });
        });

        function get_graph(data_time, data_data, name, device_name){
            $('#parameter_data').html("");
            var time_list = data_time;
            var data_list = data_data;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#00ff00'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#parameter_data').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日' + name + '监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + device_name + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    min:0, // 定义最小值
                    title: {
                        text: name + '电压(V)'
                    },
                },
                tooltip: {
                    valueSuffix: 'V',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: name,
                    data: datas,
                    color:"#4e505d"
                }]
            });
        }
    </script>
{% endblock %}