{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}历史数据{% endblock %}
{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">{{ device.name }} 观测点数据</p>
        </div>
        <div class="col-md-12" style="padding: 0px;">
            <div class="clearfix" style="">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="">PM2.5</span>
                    <ul name = "historical_pm25" style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li name = "today" class="li-round-sm active" style="display: inline-block;">今日数据</li>
                        <li name = "month" class="li-round-sm" style="display: inline-block;">当月日平均</li>
                        <li name = "year" class="li-round-sm" style="display: inline-block;">当年月平均</li>
                    </ul>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div id="pm25_today_historical" style="min-width:100%; height:300px;border: 1px solid #bbbaba;"></div>
                    <div id="pm25_month_historical" style="height:300px;border: 1px solid #bbbaba;display: none;"></div>
                    <div id="pm25_year_historical" style="height:300px;border: 1px solid #bbbaba;display: none;"></div>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                    background-color: #f0c36d; overflow: hidden;line-height: 30px;">
                    <span class="" name="pm25_today_historical"></span>
                    <span class="" name="pm25_month_historical" style="display: none;"></span>
                    <span class="" name="pm25_year_historical" style="display: none;"></span>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="">其他参数-当日数据</span>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div id="other_day_historical" style="min-width:100%;height:300px;border: 1px solid #bbbaba;"></div>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                    background-color: #f0c36d; overflow: hidden;line-height: 30px;">
                    <span class="" name="other_today_historical"></span>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="">其他参数-历史数据</span>
                    <ul name = "historical_parameter" style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li name = "week" class="li-round-sm active" style="display: inline-block;">一周数据</li>
                        <li name = "month" class="li-round-sm" style="display: inline-block;">当月日平均</li>
                        <li name = "year" class="li-round-sm" style="display: inline-block;">当年月平均</li>
                    </ul>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div id="other_week_historical" style="min-width:100%;height:300px; border: 1px solid #bbbaba;"></div>
                    <div id="other_month_historical" style="height:300px; border: 1px solid #bbbaba;display: none;"></div>
                    <div id="other_year_historical" style="height:300px; border: 1px solid #bbbaba;display: none;"></div>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                    background-color: #f0c36d; overflow: hidden;line-height: 30px;">
                    <span class="" name="other_week_historical" style="display: block;"></span>
                    <span class="" name="other_month_historical" style="display: none;"></span>
                    <span class="" name="other_year_historical" style="display: none;"></span>
                </div>
            </div>
        </div>
{#        <div class="col-md-4" style="">#}
{#            <table class="table table-striped text-center">#}
{#                <tr>#}
{#                    <th class="text-center">监测站点</th>#}
{#                    <th class="text-center">PM2.5值(ug/m3)</th>#}
{#                    <th class="text-center">空气质量</th>#}
{#                </tr>#}
{#            </table>#}
{#            <div style="height:900px; overflow: auto;">#}
{#                <table class="table table-striped text-center table-td-center">#}
{#                    <tbody>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#        </div>#}
    </div>
{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
        $("[name=historical_device_data]").siblings().removeClass("active");
        $("[name=historical_device_data]").addClass("active");
        $("[name=historical_pm25] li").on("click", function(){
            $(this).addClass("active").siblings().removeClass("active");
            var div_name = "pm25_" + $(this).attr("name") + "_historical";
            $("#" + div_name).css("display", "block").siblings().css("display","none");
            $("[name=" + div_name + "]").css("display", "block").siblings().css("display","none");
        });
        $("[name=historical_parameter] li").on("click", function(){
            $(this).addClass("active").siblings().removeClass("active");
            var div_name = "other_" + $(this).attr("name") + "_historical";
            $("#" + div_name).css("display", "block").siblings().css("display","none");
            $("[name=" + div_name + "]").css("display", "block").siblings().css("display","none");
        });
    </script>
    <script>
        var data = {{ data | safe }};
        console.log(data);
        var today_data = data.today_data;
        var today_data_hour = today_data.today_data_hour;
        var today_data_data = today_data.today_data_data;
        $("[name=pm25_today_historical]").html("最低AQI: " + today_data.today_data_min_aqi.today_data_min_aqi_val +
                " 日期: " + today_data.today_data_min_aqi.today_data_min_aqi_date + "  | 最高AQI: " + today_data.today_data_max_aqi.today_data_max_aqi_val +
                " 日期: " + today_data.today_data_max_aqi.today_data_max_aqi_date);
        $("[name=other_today_historical]").html("最低AQI: " + today_data.today_data_min_aqi.today_data_min_aqi_val +
                " 日期: " + today_data.today_data_min_aqi.today_data_min_aqi_date + "  | 最高AQI: " + today_data.today_data_max_aqi.today_data_max_aqi_val +
                " 日期: " + today_data.today_data_max_aqi.today_data_max_aqi_date);

        var week_data = data.week_data;
        var week_data_day = week_data.week_data_day;
        var week_data_data = week_data.week_data_data;
        $("[name=other_week_historical]").html("最低AQI: " + week_data.week_data_min_aqi.week_data_min_aqi_val +
                " 日期: " + week_data.week_data_min_aqi.week_data_min_aqi_date + "  | 最高AQI: " + week_data.week_data_max_aqi.week_data_max_aqi_val +
                " 日期: " + week_data.week_data_max_aqi.week_data_max_aqi_date);
        var month_data = data.month_data;
        var month_data_day = month_data.month_data_day;
        var month_data_data = month_data.month_data_data;
        $("[name=pm25_month_historical]").html("最低AQI: " + month_data.month_data_min_aqi.month_data_min_aqi_val +
                " 日期: " + month_data.month_data_min_aqi.month_data_min_aqi_date + "  | 最高AQI: " + month_data.month_data_max_aqi.month_data_max_aqi_val +
                " 日期: " + month_data.month_data_max_aqi.month_data_max_aqi_date);
        $("[name=other_month_historical]").html("最低AQI: " + month_data.month_data_min_aqi.month_data_min_aqi_val +
                " 日期: " + month_data.month_data_min_aqi.month_data_min_aqi_date + "  | 最高AQI: " + month_data.month_data_max_aqi.month_data_max_aqi_val +
                " 日期: " + month_data.month_data_max_aqi.month_data_max_aqi_date);
        var year_data = data.year_data;
        var year_data_month = year_data.year_data_month;
        var year_data_data = year_data.year_data_data;
        $("[name=pm25_year_historical]").html("最低AQI: " + year_data.year_data_min_aqi.year_data_min_aqi_val +
                " 日期: " + year_data.year_data_min_aqi.year_data_min_aqi_date + "  | 最高AQI: " + year_data.year_data_max_aqi.year_data_max_aqi_val +
                " 日期: " + year_data.year_data_max_aqi.year_data_max_aqi_date);
        $("[name=other_year_historical]").html("最低AQI: " + year_data.year_data_min_aqi.year_data_min_aqi_val +
                " 日期: " + year_data.year_data_min_aqi.year_data_min_aqi_date + "  | 最高AQI: " + year_data.year_data_max_aqi.year_data_max_aqi_val +
                " 日期: " + year_data.year_data_max_aqi.year_data_max_aqi_date);
        $(function () {
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#pm25_today_historical').highcharts({

                chart: {
                    type: 'column'
                },
                title: {
                    text: '今日PM25数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                credits: false,
                xAxis: {
                    categories: today_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'PM25 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'PM2.5',
                    data: today_data_data.pm25
                }]
            });
            var standard_width = $("#pm25_today_historical div").width();
            $("#pm25_month_historical").width(standard_width);
            $("#pm25_year_historical").width(standard_width);
            $('#pm25_month_historical').highcharts({

                chart: {
                    type: 'column'
                },
                title: {
                    text: '当月PM25数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                credits: false,
                xAxis: {
                    categories: month_data_day,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'PM25 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'PM2.5',
                    data: month_data_data.pm25
                }]
            });
            $('#pm25_year_historical').highcharts({

                chart: {
                    type: 'column'
                },
                title: {
                    text: '当年PM25数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                credits: false,
                xAxis: {
                    categories: year_data_month,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'PM25 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'PM2.5',
                    data: year_data_data.pm25
                }]
            });
        });
{#    </script>#}
{#    <script>#}
        $(function () {
            $('#other_day_historical').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '当日数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                xAxis: {
                    categories: today_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '浓度 (ppm)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} ppm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'SO2',
                    data: today_data_data.so2
                }, {
                    name: 'O3',
                    data: today_data_data.o3
                }, {
                    name: 'CO',
                    data: today_data_data.co
                }, {
                    name: 'NO2',
                    data: today_data_data.no2
                },{
                    name: 'PM10',
                    data: today_data_data.pm10
                }]
            });
            $('#other_week_historical').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '一周数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                xAxis: {
                    categories: week_data_day,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '浓度 (ppm)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} ppm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'SO2',
                    data: week_data_data.so2
                }, {
                    name: 'O3',
                    data: week_data_data.o3
                }, {
                    name: 'CO',
                    data: week_data_data.co
                }, {
                    name: 'NO2',
                    data: week_data_data.no
                },{
                    name: 'PM10',
                    data: week_data_data.pm10
                }]
            });
            var standard_width = $("#other_week_historical div").width();
            $("#other_month_historical").width(standard_width);
            $("#other_year_historical").width(standard_width);
            $('#other_month_historical').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '一月数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                xAxis: {
                    categories: month_data_day,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '浓度 (ppm)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} ppm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'SO2',
                    data: month_data_data.so2
                }, {
                    name: 'O3',
                    data: month_data_data.o3
                }, {
                    name: 'CO',
                    data: month_data_data.co
                }, {
                    name: 'NO2',
                    data: month_data_data.no
                },{
                    name: 'PM10',
                    data: month_data_data.pm10
                }]
            });
            $('#other_year_historical').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '当年数据'
                },
                subtitle: {
                    text: '来源：{{ device.name }}观测点'
                },
                xAxis: {
                    categories: year_data_month,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '浓度 (ppm)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} ppm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'SO2',
                    data: year_data_data.so2
                }, {
                    name: 'O3',
                    data: year_data_data.o3
                }, {
                    name: 'CO',
                    data: year_data_data.co
                }, {
                    name: 'NO2',
                    data: year_data_data.no
                },{
                    name: 'PM10',
                    data: year_data_data.pm10
                }]
            });
        });

    </script>
{% endblock %}