{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}首页{% endblock %}
{% block special_css %}
    <style>
        #circle {
            width: 150px;
            height: 150px;
            background-color: #ffffff; /* Can be set to transparent */
            border-width: 12px;
            border-color:#bfaeae;
            animation:mymove 6s infinite;
            animation-timing-function:ease;
            border-style:solid;
            -webkit-border-radius: 100px;
        }
        @keyframes mymove
        {
            0% { border-color:#68cb00;}
            20% { border-color:#f6e200;}
            40% { border-color:#fb890f;}
            60% { border-color:#df2d00;}
            80% { border-color:#b414bb;}
            100% { border-color:#b414bb;}
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="clearfix">
            <div class="col-md-12">
                <h4 class="city_name" style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">
                    <span name="latest_location">{{ device.name }}</span>&nbsp;
                    <a id="" href="#point-choice" role="button" class="glyphicon glyphicon-edit hander" data-toggle="modal"
                    style="font-size: 16px;color: #000;text-decoration: none;"></a>
                </h4>
            </div>
        </div>
        <div class="clearfix" style="margin-top: 30px;margin-bottom: 30px;">
            <div class="col-md-8">
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.AQI_1 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -35px;background-color: #ffffff;">
                        <p style="font-size: 16px;">AQI指数</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.pm25 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">PM2.5浓度</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.pm10 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">PM10浓度</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
{#                ;margin-top: 70px;#}
                <div style="margin:0 auto;width: 235px;height: 11px;background: url(/static/app/img/citydate_sprite.png) -6px -4px no-repeat;">
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    <span class = "level{{ average_data.AQI_info_1.level_no }}_color"><b>{{ average_data.AQI_info_1.classification }}</b></span>
                </div>
                <div style="color:#7db364;text-align: left;">健康影响:</div>
                <div style="text-align: left;">{{ average_data.AQI_info_1.health }}</div><br>
                <div style="color:#7db364;text-align: left;">温馨提示:</div>
                <div style="text-align: left;">{{ average_data.AQI_info_1.step }}</div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="container" style="min-width:100%;height:300px;margin: 0 auto;"></div>
        </div>
        <div class="col-md-12">
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <ul name = "other_parameters" style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li name = "PM10" class="li-round-sm active" style="display: inline-block;">PM10</li>
                        <li name = "SO2" class="li-round-sm" style="display: inline-block;">SO2</li>
                        <li name = "O3" class="li-round-sm" style="display: inline-block;">O3</li>
                        <li name = "CO" class="li-round-sm" style="display: inline-block;">CO</li>
                        <li name = "NO2" class="li-round-sm" style="display: inline-block;">NO2</li>
                    </ul>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div id="other_PM10" style="min-width:100%;height:300px;"></div>
                    <div id="other_SO2" style="height:300px;"></div>
                    <div id="other_O3" style="height:300px;"></div>
                    <div id="other_CO" style="height:300px;"></div>
                    <div id="other_NO2" style="height:300px;"></div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">{{ device.name }}监测点实时数据</p>
        </div>
        <div class="col-md-12">
            <div style="overflow: auto;">
                <table class="table table-striped text-center table-td-center">
                    <thead>
                        <tr style="background-color: #e8e8e8">
                            <th class="text-center" style="padding: 15px;">监测站点</th>
                            <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                            <th class="text-center" style="padding: 15px;">PM10浓度</th>
                            <th class="text-center" style="padding: 15px;">SO2</th>
                            <th class="text-center" style="padding: 15px;">NO2</th>
                            <th class="text-center" style="padding: 15px;">CO</th>
                            <th class="text-center" style="padding: 15px;">O3</th>
                            <th class="text-center" style="padding: 15px;">空气质量</th>
                            <th class="text-center" style="padding: 15px;">采集时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_real_time %}
                            <tr><td>{{ data.name }}</td><td>{{ data.pm25 }}</td><td>{{ data.pm10 }}</td><td>{{ data.so2 }}</td><td>{{ data.no2 }}</td><td>{{ data.co }}</td><td>{{ data.o3 }}</td><td style="vertical-align: middle;"><span>{{ data.AQI_info_1.classification }}</span><span class="level{{ data.AQI_info_1.level_no }}"></span></td><td>{{ data.time }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <ul class="pagination account-pagination" style="">
                <li class="hander">
                     <a href="/?device_id=1&page={{ page|add:-1 }}">上一页</a>
                </li>
                <li>
                     <a href="#">
                         <span name="page">{{ page }}</span> / <span name="total_page">{{ total_page }}</span>
                     </a>
                </li>
                <li class="hander">
                     <a href="/?device_id=1&page={{ page|add:1 }}">下一页</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="point-choice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        请选择站点
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        {% for device in device_list %}
                            <div class="horizontal-center col-md-2 img-rounded hander city-choice-item"
                            onclick="window.location.href='/?device_id={{ device.id }}'">{{ device.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
{#    <script src= "http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>#}
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
        $(function(){
            var int=self.setInterval("reload_page()", 3*60000);
        });
        function reload_page() {
            window.location.reload();
        }
        $("[name=other_parameters] li").on("click", function(){
            console.log($(this).attr("name"));
            $(this).addClass("active").siblings().removeClass("active");
            var id = "other_" + $(this).attr("name");
            $("#" + id).css("display", "block").siblings().css("display", "none");
        });
        $("[name=PM10]").click();

        var twelve_data = {{ twelve_data | safe}};
{#        console.log(twelve_data);#}
        var twelve_data_hour = twelve_data.twelve_data_hour;
        var twelve_data_data = twelve_data.twelve_data_data;
        var twelve_data_so2 = twelve_data_data.so2;
        var twelve_data_pm10 = twelve_data_data.pm10;
        var twelve_data_no2 = twelve_data_data.no2;
        var twelve_data_co = twelve_data_data.co;
        var twelve_data_o3 = twelve_data_data.o3;
        var twelve_data_pm25 = twelve_data_data.pm25;
        $(function () {

            var time_list = twelve_data_hour;
            var data_list = twelve_data_pm25;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
{#                console.log(new Date(_).toString());#}
                _ = _.getTime() + 8*60*60*1000;
{#                console.log(new Date(_).toString());#}
{#                console.log("********************************");#}
                _ = new Date(_);
{#                console.log(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());#}
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#00ff00'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#container').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日PM2.5监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'PM2.5浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'PM2.5',
                    data: datas,
                    color:"#4e505d"
                }]
            });
            $('#container1').highcharts({
                credits:false,
                chart: {
                    type: 'spline',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日PM2.5监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                xAxis: {
                    categories: twelve_data_hour
                },
                yAxis: {
                    title: {
                        text: 'ug/m³'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '均值',
                    data: twelve_data_pm25
                }]
            });
        });
        $(function () {
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            var time_list = twelve_data_hour;
            var data_list = twelve_data_pm10;
            var datas = new Array();
            var len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            var colors = ['#00ff00'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#other_PM10').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日PM10监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'PM10浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'PM10',
                    data: datas,
                    color:"#4e505d"
                }]
            });
{#            $('#other_PM10').highcharts({#}
{##}
{#                credits:false,#}
{#                chart: {#}
{#                    type: 'spline',#}
{#                    backgroundColor: 'rgba(80,81,95,0.1)',#}
{#                },#}
{#                title: {#}
{#                    text: '今日PM10监测值'#}
{#                },#}
{#                subtitle: {#}
{#                    text: '来源：各站点平均值'#}
{#                },#}
{#                xAxis: {#}
{#                    categories: twelve_data_hour#}
{#                },#}
{#                yAxis: {#}
{#                    title: {#}
{#                        text: 'PM10(ug/m³)'#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    line: {#}
{#                        dataLabels: {#}
{#                            enabled: true#}
{#                        },#}
{#                        enableMouseTracking: false#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    name: '均值',#}
{#                    data: twelve_data_pm10#}
{#                }]#}
{#            });#}
            var standard_width = $("#other_PM10 div").width();
            $("#other_NO2").width(standard_width);
            $("#other_SO2").width(standard_width);
            $("#other_PM10").width(standard_width);
            $("#other_O3").width(standard_width);
            $("#other_CO").width(standard_width);


            time_list = twelve_data_hour;
            data_list = twelve_data_so2;
            datas = new Array();
            len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            $('#other_SO2').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日SO2监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'SO2浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'SO2',
                    data: datas,
                    color:"#4e505d"
                }]
            });
{#            $('#other_SO2').highcharts({#}
{##}
{#                credits:false,#}
{#                chart: {#}
{#                    type: 'spline',#}
{#                    backgroundColor: 'rgba(80,81,95,0.1)',#}
{#                },#}
{#                title: {#}
{#                    text: '今日SO2监测值'#}
{#                },#}
{#                subtitle: {#}
{#                    text: '来源：各站点平均值'#}
{#                },#}
{#                xAxis: {#}
{#                    categories: twelve_data_hour#}
{#                },#}
{#                yAxis: {#}
{#                    title: {#}
{#                        text: 'SO2浓度(ug/m³)'#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    line: {#}
{#                        dataLabels: {#}
{#                            enabled: true#}
{#                        },#}
{#                        enableMouseTracking: false#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    name: '均值',#}
{#                    data: twelve_data_so2#}
{#                }]#}
{#            });#}
            time_list = twelve_data_hour;
            data_list = twelve_data_o3;
            datas = new Array();
            len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            $('#other_O3').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日O3监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'O3浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'O3',
                    data: datas,
                    color:"#4e505d"
                }]
            });
{#            $('#other_O3').highcharts({#}
{##}
{#                credits:false,#}
{#                chart: {#}
{#                    type: 'spline',#}
{#                    backgroundColor: 'rgba(80,81,95,0.1)',#}
{#                },#}
{#                title: {#}
{#                    text: '今日O3监测值'#}
{#                },#}
{#                subtitle: {#}
{#                    text: '来源：各站点平均值'#}
{#                },#}
{#                xAxis: {#}
{#                    categories: twelve_data_hour#}
{#                },#}
{#                yAxis: {#}
{#                    title: {#}
{#                        text: 'O3浓度(ug/m³)'#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    line: {#}
{#                        dataLabels: {#}
{#                            enabled: true#}
{#                        },#}
{#                        enableMouseTracking: false#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    name: '均值',#}
{#                    data: twelve_data_o3#}
{#                }]#}
{#            });#}



            time_list = twelve_data_hour;
            data_list = twelve_data_co;
            datas = new Array();
            len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            $('#other_CO').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日CO监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'CO浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'CO',
                    data: datas,
                    color:"#4e505d"
                }]
            });

{#            $('#other_CO').highcharts({#}
{##}
{#                credits:false,#}
{#                chart: {#}
{#                    type: 'spline',#}
{#                    backgroundColor: 'rgba(80,81,95,0.1)',#}
{#                },#}
{#                title: {#}
{#                    text: '今日CO监测值'#}
{#                },#}
{#                subtitle: {#}
{#                    text: '来源：各站点平均值'#}
{#                },#}
{#                xAxis: {#}
{#                    categories: twelve_data_hour#}
{#                },#}
{#                yAxis: {#}
{#                    title: {#}
{#                        text: 'CO浓度(ug/m³)'#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    line: {#}
{#                        dataLabels: {#}
{#                            enabled: true#}
{#                        },#}
{#                        enableMouseTracking: false#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    name: '均值',#}
{#                    data: twelve_data_co#}
{#                }]#}
{#            });#}





            time_list = twelve_data_hour;
            data_list = twelve_data_no2;
            datas = new Array();
            len = data_list.length;
            for(var i = 0;i < len; ++i){
                var tmp = new Array();
                var _ = new Date(time_list[i].replace(/-/g, "/"));
                _ = _.getTime() + 8*60*60*1000;
                _ = new Date(_);
                var time = Date.UTC(_.getUTCFullYear(), _.getUTCMonth(), _.getUTCDate(), _.getUTCHours(), _.getUTCMinutes(), _.getUTCSeconds());
                tmp.push(time);
                tmp.push(data_list[i]);
                datas.push(tmp);
            }
            $('#other_NO2').highcharts({
                chart: {
                    type: 'line',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日NO2监测值',
                    x: -20 //center
                },
                subtitle: {
                    text: '数据来源:' + '{{ device.name }}' + '观测点',
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        millisecond: '%H:%M:%S',
                        second: '%H:%M:%S',
                        minute: '%d %H:%M',
                        hour: '%m-%d %H:%M',
                        day: '%m-%d',
                        week: '%m-%d',
                        month: '%Y-%m',
                        year: '%Y',
                    },
                },
                yAxis: {
                    title: {
                        text: 'NO2浓度(ug/m³)'
                    },
                },
                tooltip: {
                    valueSuffix: 'ug/m³',
                    dateTimeLabelFormats: {
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                        day: '%Y-%m-%d %H:%M:%S',
                        week: '%Y-%m-%d %H:%M:%S',
                        month: '%Y-%m-%d %H:%M:%S',
                        year: '%Y-%m-%d %H:%M:%S',
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: 'NO2',
                    data: datas,
                    color:"#4e505d"
                }]
            });



{#            $('#other_NO2').highcharts({#}
{##}
{#                credits:false,#}
{#                chart: {#}
{#                    type: 'spline',#}
{#                    backgroundColor: 'rgba(80,81,95,0.1)',#}
{#                },#}
{#                title: {#}
{#                    text: '今日NO2监测值'#}
{#                },#}
{#                subtitle: {#}
{#                    text: '来源：各站点平均值'#}
{#                },#}
{#                xAxis: {#}
{#                    categories: twelve_data_hour#}
{#                },#}
{#                yAxis: {#}
{#                    title: {#}
{#                        text: 'NO2浓度(ug/m³)'#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    line: {#}
{#                        dataLabels: {#}
{#                            enabled: true#}
{#                        },#}
{#                        enableMouseTracking: false#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    name: '均值',#}
{#                    data: twelve_data_no2#}
{#                }]#}
{#            });#}
        });

    </script>
{% endblock %}