{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}首页{% endblock %}
{% block special_css %}
    <style>
        #circle {
            width: 150px;
            height: 150px;
            background-color: #ffffff; /* Can be set to transparent */
            border-width: 12px;
            border-color:#bfaeae;
            animation:mymove 6s infinite;
            animation-timing-function:ease;
            border-style:solid;
            -webkit-border-radius: 100px;
        }
        @keyframes mymove
        {
            0% { border-color:#68cb00;}
            20% { border-color:#f6e200;}
            40% { border-color:#fb890f;}
            60% { border-color:#df2d00;}
            80% { border-color:#b414bb;}
            100% { border-color:#b414bb;}
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="clearfix" style="margin-top: 30px;margin-bottom: 30px;">
            <div class="col-md-8">
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.AQI_1 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -35px;background-color: #ffffff;">
                        <p style="font-size: 16px;">AQI指数</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.Main_Pollute_1 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">首要污染物</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">{{ average_data.pm25 }}</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">PM2.5浓度</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
{#                ;margin-top: 70px;#}
                <div style="margin:0 auto;width: 235px;height: 11px;background: url(/static/app/img/citydate_sprite.png) -6px -4px no-repeat;">
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    <span class = "level{{ average_data.AQI_info_1.level_no }}_color"><b>{{ average_data.AQI_info_1.classification }}</b></span>
                </div>
                <div style="color:#7db364;text-align: left;">健康影响:</div>
                <div style="text-align: left;">{{ average_data.AQI_info_1.health }}</div><br>
                <div style="color:#7db364;text-align: left;">温馨提示:</div>
                <div style="text-align: left;">{{ average_data.AQI_info_1.step }}</div>
            </div>
        </div>
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">池州 各监测点实时数据</p>
        </div>
        <div class="col-md-12">
            </table>
            <div style="overflow: auto;">
                <table class="table table-striped text-center table-td-center">
                    <thead>
                        <tr style="background-color: #e8e8e8">
                            <th class="text-center" style="padding: 15px;">监测站点</th>
                            <th class="text-center" style="padding: 15px;">首要污染物</th>
                            <th class="text-center" style="padding: 15px;">PM2.5浓度(ug/m3)</th>
                            <th class="text-center" style="padding: 15px;">PM10浓度(ug/m3)</th>
                            <th class="text-center" style="padding: 15px;">空气质量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_real_time %}
                            <tr><td>{{ data.name }}</td><td>{{ data.Main_Pollute_1 }}</td><td>{{ data.pm25 }}</td><td>{{ data.pm10 }}</td><td style="vertical-align: middle;"><span>{{ data.AQI_info_1.classification }}</span><span class="level{{ data.AQI_info_1.level_no }}"></span></td></tr>
                        {% endfor %}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div id="container" style="min-width:100%;height:300px;margin: 0 auto;"></div>
        </div>
        <div class="col-md-12">
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <ul name = "other_parameters" style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li name = "PM10" class="li-round-sm active" style="display: inline-block;">PM10</li>
                        <li name = "SO2" class="li-round-sm" style="display: inline-block;">SO2</li>
                        <li name = "O3" class="li-round-sm" style="display: inline-block;">O3</li>
                        <li name = "CO" class="li-round-sm" style="display: inline-block;">CO</li>
                        <li name = "NO2" class="li-round-sm" style="display: inline-block;">NO2</li>
                    </ul>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <div id="other_PM10" style="min-width:100%;height:300px;"></div>
                    <div id="other_SO2" style="height:300px;"></div>
                    <div id="other_O3" style="height:300px;"></div>
                    <div id="other_CO" style="height:300px;"></div>
                    <div id="other_NO2" style="height:300px;"></div>
                </div>

            </div>
        </div>
{#        <div class="col-md-8">#}
{#            <div class="clearfix" style=" border: 1px solid #bbbaba; ">#}
{#                <div class="col-md-offset-1 col-md-5 col-sm-12">#}
{#                    <div class="clearfix">#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="float: left;"><bold>北京</bold></div>#}
{#                        </div>#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="float: left;">09:45发布</div>#}
{#                        </div>#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="margin: 0 auto;text-align: center;">#}
{#                                <h2>3° / 霾</h2>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="clearfix" style="text-align: center;">#}
{#                            <div class="col-md-4">#}
{#                                SO2#}
{#                                <h4>60</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                O3#}
{#                                <h4>30</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                PM10#}
{#                                <h4>123</h4>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-12"><hr/></div>#}
{#                            <div class="col-md-4">#}
{#                                东北风#}
{#                                <h4>2级</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                污染指数#}
{#                                <h4>158</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                相对湿度#}
{#                                <h4>62%</h4>#}
{#                            </div>#}
{#                            <div class="col-md-12"><hr/></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-12">#}
{#                    <div id="pm25_now" style="min-width:100%;height:300px;margin: 0 auto;"></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="clearfix" style="margin-top: 20px;">#}
{#                <div id="container" style="min-width:100%;height:300px; border: 1px solid #bbbaba;"></div>#}
{#            </div>#}
{#            <div class="clearfix" style="margin-top: 20px;">#}
{#                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;#}
{#                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">#}
{#                    <span class="glyphicon glyphicon-th-list"></span>#}
{#                    <ul style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">#}
{#                        <li class="li-round-sm active" style="display: inline-block;">SO2</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">O3</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">CO</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">NO2</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">PM10</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div id="other_parameter" style="min-width:100%;height:300px; border: 1px solid #bbbaba;"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4" style="">#}
{#            <table class="table table-striped text-center">#}
{#                <tr>#}
{#                    <th class="text-center">监测站点</th>#}
{#                    <th class="text-center">PM2.5值(ug/m3)</th>#}
{#                    <th class="text-center">空气质量</th>#}
{#                </tr>#}
{#            </table>#}
{#            <div style="height:900px; overflow: auto;">#}
{#                <table class="table table-striped text-center table-td-center">#}
{#                    <tbody>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#        </div>#}
    </div>
{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
{#    <script src= "http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>#}
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
{#        $(function () {#}
{#            var gaugeOptions = {#}
{#                chart: {#}
{#                    type: 'solidgauge'#}
{#                },#}
{#                title: null,#}
{#                pane: {#}
{#                    center: ['50%', '50%'],#}
{#                    size: '85%',#}
{#                    startAngle: -90,#}
{#                    endAngle: 90,#}
{#                    background: {#}
{#                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',#}
{#                        innerRadius: '60%',#}
{#                        outerRadius: '100%',#}
{#                        shape: 'arc'#}
{#                    }#}
{#                },#}
{#                tooltip: {#}
{#                    enabled: false#}
{#                },#}
{#                // the value axis#}
{#                yAxis: {#}
{#                    stops: [#}
{#                        [0.1, '#55BF3B'], // green#}
{#                        [0.5, '#DDDF0D'], // yellow#}
{#                        [0.9, '#DF5353'] // red#}
{#                    ],#}
{#                    lineWidth: 0,#}
{#                    minorTickInterval: null,#}
{#                    tickPixelInterval: 400,#}
{#                    tickWidth: 0,#}
{#                    title: {#}
{#                        y: -70#}
{#                    },#}
{#                    labels: {#}
{#                        y: 16#}
{#                    }#}
{#                },#}
{#                plotOptions: {#}
{#                    solidgauge: {#}
{#                        dataLabels: {#}
{#                            y: 5,#}
{#                            borderWidth: 0,#}
{#                            useHTML: true#}
{#                        }#}
{#                    }#}
{#                }#}
{#            };#}
{#            // The speed gauge#}
{#            $('#pm25_now').highcharts(Highcharts.merge(gaugeOptions, {#}
{#                yAxis: {#}
{#                    min: 0,#}
{#                    max: 500,#}
{#                    title: {#}
{#                        text: 'PM25'#}
{#                    }#}
{#                },#}
{#                credits: {#}
{#                    enabled: false#}
{#                },#}
{#                series: [{#}
{#                    name: 'Speed',#}
{#                    data: [480],#}
{#                    dataLabels: {#}
{#                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +#}
{#                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +#}
{#                        '<span style="font-size:12px;color:silver">ug/m3</span></div>'#}
{#                    },#}
{#                    tooltip: {#}
{#                        valueSuffix: ' wg/m3'#}
{#                    }#}
{#                }]#}
{#            }));#}
{#            // Bring life to the dials#}
{#            setInterval(function () {#}
{#                // Speed#}
{#                var chart = $('#pm25_now').highcharts(),#}
{#                    point,#}
{#                    newVal,#}
{#                    inc;#}
{#                if (chart) {#}
{#                    point = chart.series[0].points[0];#}
{#                    inc = Math.round((Math.random() - 0.5) * 100);#}
{#                    newVal = point.y + inc;#}
{#                    if (newVal < 0 || newVal > 500) {#}
{#                        newVal = point.y - inc;#}
{#                    }#}
{#                    point.update(newVal);#}
{#                }#}
{#            }, 2000);#}
{#        });#}
        $("[name=other_parameters] li").on("click", function(){
            console.log($(this).attr("name"));
            $(this).addClass("active").siblings().removeClass("active");
            var id = "other_" + $(this).attr("name");
            $("#" + id).css("display", "block").siblings().css("display", "none");
        });
        $("[name=PM10]").click();

        var twelve_data = {{ twelve_data | safe}};
        var twelve_data_hour = twelve_data.twelve_data_hour;
        var twelve_data_data = twelve_data.twelve_data_data;
        var twelve_data_so2 = twelve_data_data.so2;
        var twelve_data_pm10 = twelve_data_data.pm10;
        var twelve_data_no2 = twelve_data_data.no2;
        var twelve_data_co = twelve_data_data.co;
        var twelve_data_o3 = twelve_data_data.o3;
        var twelve_data_pm25 = twelve_data_data.pm25;
        $(function () {
            $('#container').highcharts({
                credits:false,
                chart: {
                    type: 'spline',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日PM25监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                xAxis: {
                    categories: twelve_data_hour
                },
                yAxis: {
                    title: {
                        text: 'ug/m3'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '均值',
                    data: twelve_data_pm25
                }]
            });
        });
        $(function () {
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#other_PM10').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日PM10监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: twelve_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'PM10 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'PM10',
                    data: twelve_data_pm25
                }]
            });
            var standard_width = $("#other_PM10 div").width();
            $("#other_NO2").width(standard_width);
            $("#other_SO2").width(standard_width);
            $("#other_PM10").width(standard_width);
            $("#other_O3").width(standard_width);
            $("#other_CO").width(standard_width);
            $('#other_SO2').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日SO2监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: twelve_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'SO2 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'SO2',
                    data: twelve_data_so2
                }]
            });
{#            $('#other_SO2 div').width(standard_width);#}
            $('#other_O3').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日O3监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: twelve_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'O3 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'O3',
                    data: twelve_data_o3
                }]
            });
{#            $('#other_O3 div').width(standard_width);#}
            $('#other_CO').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日CO监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: twelve_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'CO (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'CO',
                    data: twelve_data_co
                }]
            });
{#            $('#other_CO div').width(standard_width);#}
            $('#other_NO2').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '今日NO2监测值'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: twelve_data_hour,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'NO2 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'NO2',
                    data: twelve_data_no2
                }]
            });
{#            $('#other_NO2 div').width(standard_width);#}
        });

    </script>
{% endblock %}