{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}首页{% endblock %}
{% block special_css %}
    <style>
        #circle {
            width: 150px;
            height: 150px;
            background-color: #ffffff; /* Can be set to transparent */
            border: 6px #bfaeae solid;
            -webkit-border-radius: 100px;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">
        <div class="clearfix" style="margin-top: 30px;margin-bottom: 30px;">
            <div class="col-md-8">
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">187</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -35px;background-color: #ffffff;">
                        <p style="font-size: 16px;">AQI指数</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">PM25</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">首要污染物</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0 auto;">
                    <div id="circle" style="text-align: center; line-height: 150px;display: inline-block;">
                        <p style="font-size: 18px;">64ug</p>
                    </div>
                    <div style="display: inline-block; height: 30px;line-height: 30px;margin-left: -49px;background-color: #ffffff;">
                        <p style="font-size: 16px;">PM2.5浓度</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <div style="margin:0 auto;margin-top: 70px;width: 235px;height: 11px;background: url(/static/app/img/citydate_sprite.png) -6px -4px no-repeat;">
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500
                </div>
                <div class="cbor_gauge_num" style="font-size: 12px;opacity: 0.5;padding-top: 5px;">
                    <span style="color:#ea9d0c;"><b>良</b></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p style="font-size: 20px;color: #555;margin: 10px 0px 20px 0px;text-indent: 20px;">池州 各监测点实时数据</p>
        </div>
        <div class="col-md-12">
            </table>
            <div style="overflow: auto;">
                <table class="table table-striped text-center table-td-center">
                    <thead>
                        <tr style="background-color: #e8e8e8">
                            <th class="text-center" style="padding: 15px;">监测站点</th>
                            <th class="text-center" style="padding: 15px;">首要污染物</th>
                            <th class="text-center" style="padding: 15px;">PM2.5浓度(ug/m3)</th>
                            <th class="text-center" style="padding: 15px;">PM10浓度(ug/m3)</th>
                            <th class="text-center" style="padding: 15px;">空气质量</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                        <tr><td>张家湾</td><td>细颗粒物(PM2.5)</td><td>88</td><td>71</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div id="container" style="min-width:100%;height:300px;margin: 0 auto;"></div>
        </div>
        <div class="col-md-12">
            <div class="clearfix" style="margin-top: 20px;">
                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;
                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <ul style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">
                        <li class="li-round-sm active" style="display: inline-block;">SO2</li>
                        <li class="li-round-sm" style="display: inline-block;">O3</li>
                        <li class="li-round-sm" style="display: inline-block;">CO</li>
                        <li class="li-round-sm" style="display: inline-block;">NO2</li>
                        <li class="li-round-sm" style="display: inline-block;">PM10</li>
                    </ul>
                </div>
                <div id="other_parameter" style="min-width:100%;height:300px;"></div>
            </div>
        </div>
{#        <div class="col-md-8">#}
{#            <div class="clearfix" style=" border: 1px solid #bbbaba; ">#}
{#                <div class="col-md-offset-1 col-md-5 col-sm-12">#}
{#                    <div class="clearfix">#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="float: left;"><bold>北京</bold></div>#}
{#                        </div>#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="float: left;">09:45发布</div>#}
{#                        </div>#}
{#                        <div class="clearfix">#}
{#                            <div class="col-md-12" style="margin: 0 auto;text-align: center;">#}
{#                                <h2>3° / 霾</h2>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="clearfix" style="text-align: center;">#}
{#                            <div class="col-md-4">#}
{#                                SO2#}
{#                                <h4>60</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                O3#}
{#                                <h4>30</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                PM10#}
{#                                <h4>123</h4>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-12"><hr/></div>#}
{#                            <div class="col-md-4">#}
{#                                东北风#}
{#                                <h4>2级</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                污染指数#}
{#                                <h4>158</h4>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                相对湿度#}
{#                                <h4>62%</h4>#}
{#                            </div>#}
{#                            <div class="col-md-12"><hr/></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-12">#}
{#                    <div id="pm25_now" style="min-width:100%;height:300px;margin: 0 auto;"></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="clearfix" style="margin-top: 20px;">#}
{#                <div id="container" style="min-width:100%;height:300px; border: 1px solid #bbbaba;"></div>#}
{#            </div>#}
{#            <div class="clearfix" style="margin-top: 20px;">#}
{#                <div class="col-md-12" style="width: 100%; height: auto !important; min-height: 30px;font-size: 14px;#}
{#                background-color: #f4f4f4; overflow: hidden;line-height: 30px;">#}
{#                    <span class="glyphicon glyphicon-th-list"></span>#}
{#                    <ul style="display: inline-block;margin-bottom: 0px;!important; float: right; " class="li-tab">#}
{#                        <li class="li-round-sm active" style="display: inline-block;">SO2</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">O3</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">CO</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">NO2</li>#}
{#                        <li class="li-round-sm" style="display: inline-block;">PM10</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div id="other_parameter" style="min-width:100%;height:300px; border: 1px solid #bbbaba;"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4" style="">#}
{#            <table class="table table-striped text-center">#}
{#                <tr>#}
{#                    <th class="text-center">监测站点</th>#}
{#                    <th class="text-center">PM2.5值(ug/m3)</th>#}
{#                    <th class="text-center">空气质量</th>#}
{#                </tr>#}
{#            </table>#}
{#            <div style="height:900px; overflow: auto;">#}
{#                <table class="table table-striped text-center table-td-center">#}
{#                    <tbody>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                        <tr><td>张家湾</td><td>88</td><td style="vertical-align: middle;"><span>优</span><span class="level1"></span></td></tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#        </div>#}
    </div>
{% endblock %}
{% block special_js %}
    <script src= {% static "app/js/modules/exporting.js" %}></script>
{#    <script src= "http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>#}
    <script src= {% static "app/js/highcharts-more.js" %}></script>
    <script src= {% static "app/js/modules/solid-gauge.js" %}></script>
    <script>
        $(function () {
            var gaugeOptions = {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                pane: {
                    center: ['50%', '50%'],
                    size: '85%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    stops: [
                        [0.1, '#55BF3B'], // green
                        [0.5, '#DDDF0D'], // yellow
                        [0.9, '#DF5353'] // red
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -70
                    },
                    labels: {
                        y: 16
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };
            // The speed gauge
            $('#pm25_now').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 500,
                    title: {
                        text: 'PM25'
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Speed',
                    data: [480],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                        '<span style="font-size:12px;color:silver">ug/m3</span></div>'
                    },
                    tooltip: {
                        valueSuffix: ' wg/m3'
                    }
                }]
            }));
            // Bring life to the dials
            setInterval(function () {
                // Speed
                var chart = $('#pm25_now').highcharts(),
                    point,
                    newVal,
                    inc;
                if (chart) {
                    point = chart.series[0].points[0];
                    inc = Math.round((Math.random() - 0.5) * 100);
                    newVal = point.y + inc;
                    if (newVal < 0 || newVal > 500) {
                        newVal = point.y - inc;
                    }
                    point.update(newVal);
                }
            }, 2000);
        });



        $(function () {
            $('#container').highcharts({
                credits:false,
                chart: {
                    type: 'spline',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '最近一小时PM25检测值'
                },
                subtitle: {
                    text: '来源：各个采集站点'
                },
                xAxis: {
                    categories: ['09:00', '09:10', '09:20', '09:30', '09:40', '09:50', '10:00', '10:10', '10:20', '10:30', '10:40', '10:50']
                },
                yAxis: {
                    title: {
                        text: 'ug/m3'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '均值',
                    data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                }]
            });
        });
        $(function () {
            var colors = ['#FF0000', '#90BF18', '#EDCA4E'];
            Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {
                 return {
                     radialGradient: { cx:0, cy: -0.8,r:2.3 },
                     stops: [[0, color], [2, Highcharts.Color(color).brighten(14).get('rgb')] // darken
                     ]
                 };
             });
            $('#other_parameter').highcharts({

                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(80,81,95,0.1)',
                },
                title: {
                    text: '最近一小时SO2'
                },
                subtitle: {
                    text: '来源：各站点平均值'
                },
                credits: false,
                xAxis: {
                    categories: [
                        '09:05',
                        '09:10',
                        '09:15',
                        '09:20',
                        '09:25',
                        '09:30',
                        '09:35',
                        '09:40',
                        '09:45',
                        '09:50',
                        '09:55',
                        '10:00',
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'SO2 (ug/m3)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    zones: [{
                        value: 100,
                        color: colors[1]
                    }, {
                        value: 150,
                        color: colors[2]
                    }],
                    name: 'SO2',
                    data: [49.9, 71.5, 106.4, 77.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                }]
            });
        });

    </script>
{% endblock %}