{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}平台信息{% endblock %}
{% block special_css %}

{% endblock %}

{% block body_content %}
    <div class="clearfix" style="margin-top: 50px;">
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">各地新闻</span>

            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                   <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        南方持续低温阴雨 华北黄淮雾霾扩散情况较差
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        南方持续低温阴雨 华北黄淮雾霾扩散情况较差
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">国家政策</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        石家庄推出空气质量奖惩办法 前五受
                    </li>
                   <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        空气质量信息更透明更精细 昆明将实
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        空气质量信息更透明更精细 昆明将实
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        南方持续低温阴雨 华北黄淮雾霾扩散情况较差
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">疾病防治</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                   <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        南方持续低温阴雨 华北黄淮雾霾扩散情况较差
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        贵州省4月环境空气质量排名 兴义、赤水再夺第
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        南方持续低温阴雨 华北黄淮雾霾扩散情况较差
                    </li>
                    <li style="text-overflow:ellipsis;height: 20px;white-space: nowrap;margin-bottom: 10px;">
                        浙江史上最代表民意的十件民生实事出炉：治霾
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
{% endblock %}