{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}平台信息{% endblock %}
{% block special_css %}

{% endblock %}

{% block body_content %}
    <div class="clearfix" style="margin-top: 50px;">
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">各地新闻</span>

            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    {% for news in  news_latest%}
                    <li class="hander" style="text-overflow:ellipsis;height: 20px;white-space: nowrap;
                    margin-bottom: 10px;overflow: hidden;" onclick="window.open('{{ news.link }}')">
                        <i>•</i>&nbsp;{{ news.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">国家政策</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    {% for news in news_policy %}
                    <li class="hander" style="text-overflow:ellipsis;height: 20px;white-space: nowrap;
                    margin-bottom: 10px;overflow: hidden;" onclick="window.open('{{ news.link }}')">
                        <i>•</i>&nbsp;{{ news.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class = "col-md-4">
            <div class="col-md-12" style="border-left: 4px solid #c1c1c1;">
                <span style="font-weight: bold;color: #888;font-size: 18px;">疾病防治</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <ul style="padding-left: 0;">
                    {% for news in news_life %}
                    <li class="hander" style="text-overflow:ellipsis;height: 20px;white-space: nowrap;
                    margin-bottom: 10px;overflow: hidden;" onclick="window.open('{{ news.link }}')">
                        <i>•</i>&nbsp;{{ news.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script>
        $(function(){
{#            console.log("{{ news_data | safe }}");#}
        });
    </script>
{% endblock %}