{% extends "app/base.html" %}
{% load static from staticfiles %}
{% block title %}数据统计{% endblock %}
{% block special_css %}
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            color: #555;
            cursor: default;
            background-color:#57b382;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
    </style>
{% endblock %}
{% block body_content %}
    <div class="clearfix" style="background-color: #fdfdfd;">


    <div class="clearfix">
        <div class="col-md-12" style="height: 120px;">
            <p style="font-size: 32px;color: #555;text-indent: 20px;line-height: 120px;">观测点数据排行<span style="float: right;font-size: 12px;color:#ec832a;">统计时间:<span name="count_time">2016-11-18 12:00:00</span></span></p>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-12 column" style="padding: 0;">
			<div class="tabbable" id="tabs-971732">
				<ul class="nav nav-tabs" style="background-color: #ececec;">
					<li class="active" style="width: 25%;text-align: center;border-right: 1px solid #d1d1d1;">
						 <a href="#panel-realTime" data-toggle="tab" style="">实时排行</a>
					</li>
					<li style="width: 25%;text-align: center;border-right: 1px solid #d1d1d1;">
						 <a href="#panel-yesterday" data-toggle="tab">昨日排行</a>
					</li>
                    <li style="width: 25%;text-align: center;border-right: 1px solid #d1d1d1;">
						 <a href="#panel-week" data-toggle="tab">一周排行</a>
					</li>
                    <li style="width: 25%;text-align: center;">
						 <a href="#panel-month" data-toggle="tab">一月排行</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-realTime">
						<div class="col-md-12" style="padding: 0;margin-top: 50px;">
                            <table class="table table-striped text-center table-td-center">
                                <thead>
                                    <tr style="background-color: #e8e8e8;">
                                        <th class="text-center" style="padding: 15px;">排名</th>
                                        <th class="text-center" style="padding: 15px;">质量</th>
                                        <th class="text-center" style="padding: 15px;">观测点</th>
{#                                        <th class="text-center" style="padding: 15px;">省份</th>#}
                                        <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                                        <th class="text-center" style="padding: 15px;">AQI指数</th>
                                    </tr>
                                </thead>
                                <tbody class="tr_hander">
                                    {% for data in real_time %}
                                        <tr><td>{{ forloop.counter }}</td><td><span class="level{{ data.level }}_background" style="padding:3px 25px;">{{ data.classification }}</span></td><td>{{ data.name }}</td><td>{{ data.pm25 }}μg/m³</td><td>{{ data.AQI }}</td></tr>
                                    {% endfor %}

{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
                                </tbody>
                            </table>
                        </div>
					</div>
					<div class="tab-pane" id="panel-yesterday">
						<div class="col-md-12" style="padding: 0;margin-top: 50px;">
                            <table class="table table-striped text-center table-td-center">
                                <thead>
                                    <tr style="background-color: #e8e8e8;">
                                        <th class="text-center" style="padding: 15px;">排名</th>
                                        <th class="text-center" style="padding: 15px;">质量</th>
                                        <th class="text-center" style="padding: 15px;">观测点</th>
{#                                        <th class="text-center" style="padding: 15px;">省份</th>#}
                                        <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                                        <th class="text-center" style="padding: 15px;">AQI指数</th>
                                    </tr>
                                </thead>
                                <tbody class="tr_hander">
                                    {% for data in yesterday_time %}
                                        <tr><td>{{ forloop.counter }}</td><td><span class="level{{ data.level }}_background" style="padding:3px 25px;">{{ data.classification }}</span></td><td>{{ data.name }}</td><td>{{ data.pm25 }}μg/m³</td><td>{{ data.AQI }}</td></tr>
                                    {% endfor %}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">良</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">差</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
                                </tbody>
                            </table>
                        </div>
					</div>
                    <div class="tab-pane" id="panel-week">
						<div class="col-md-12" style="padding: 0;margin-top: 50px;">
                            <table class="table table-striped text-center table-td-center">
                                <thead>
                                    <tr style="background-color: #e8e8e8;">
                                        <th class="text-center" style="padding: 15px;">排名</th>
                                        <th class="text-center" style="padding: 15px;">质量</th>
                                        <th class="text-center" style="padding: 15px;">观测点</th>
{#                                        <th class="text-center" style="padding: 15px;">省份</th>#}
                                        <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                                        <th class="text-center" style="padding: 15px;">AQI指数</th>
                                    </tr>
                                </thead>
                                <tbody class="tr_hander">
                                    {% for data in week_time %}
                                        <tr><td>{{ forloop.counter }}</td><td><span class="level{{ data.level }}_background" style="padding:3px 25px;">{{ data.classification }}</span></td><td>{{ data.name }}</td><td>{{ data.pm25 }}μg/m³</td><td>{{ data.AQI }}</td></tr>
                                    {% endfor %}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12μg/m³</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>张家湾</td><td>安徽</td><td>12</td><td>87</td></tr>#}
                                </tbody>
                            </table>
                        </div>
					</div>
                    <div class="tab-pane" id="panel-month">
						<div class="col-md-12" style="padding: 0;margin-top: 50px;">
                            <table class="table table-striped text-center table-td-center">
                                <thead>
                                    <tr style="background-color: #e8e8e8;">
                                        <th class="text-center" style="padding: 15px;">排名</th>
                                        <th class="text-center" style="padding: 15px;">质量</th>
                                        <th class="text-center" style="padding: 15px;">观测点</th>
{#                                        <th class="text-center" style="padding: 15px;">省份</th>#}
                                        <th class="text-center" style="padding: 15px;">PM2.5浓度</th>
                                        <th class="text-center" style="padding: 15px;">AQI指数</th>
                                    </tr>
                                </thead>
                                <tbody class="tr_hander">
                                    {% for data in month_time %}
                                        <tr><td>{{ forloop.counter }}</td><td><span class="level{{ data.level }}_background" style="padding:3px 25px;">{{ data.classification }}</span></td><td>{{ data.name }}</td><td>{{ data.pm25 }}μg/m³</td><td>{{ data.AQI }}</td></tr>
                                    {% endfor %}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12μg/m³</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">良</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">差</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ffff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #ff0000;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
{#                                    <tr><td>1</td><td><span style="padding:3px 25px; background-color: #00ff00;">优</span></td><td>京师方圆</td><td>安徽</td><td>12</td><td>87</td></tr>#}
                                </tbody>
                            </table>
                        </div>
					</div>

				</div>
			</div>
		</div>
    </div>
    </div>
    <div id="waiting-div" style="width: 100%; height: 100%;background: rgba(255, 0, 0, 1);"></div>
{#    <div class="clearfix">#}
{#        <div id="map" style="width:100%;height:600px; border: 1px solid rgba(0, 0, 0, 0.04); border-radius: 6px;"></div>#}
{#    </div>#}
{% endblock %}
{% block special_js %}
    <script>
        var myDate = new Date();
        var time = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + myDate.getDate() + " " + myDate.getHours() + ":00:00";
        $("[name=count_time]").html(time);
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZVN4DbW3hfB9MSgMmwVQBHU8ZV8jRxW"></script>
    <script async src="http://c.cnzz.com/core.php"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
    <script type = "text/javascript" src = "http://spin.js.org/spin.min.js"></script>
    <script>
        var opts = {
              lines: 12 // The number of lines to draw
            , length: 28 // The length of each line
            , width: 14 // The line thickness
            , radius: 42 // The radius of the inner circle
            , scale: 1 // Scales overall size of the spinner
            , corners: 1 // Corner roundness (0..1)
            , color: '#000' // #rgb or #rrggbb or array of colors
            , opacity: 0.25 // Opacity of the lines
            , rotate: 0 // The rotation offset
            , direction: 1 // 1: clockwise, -1: counterclockwise
            , speed: 1 // Rounds per second
            , trail: 60 // Afterglow percentage
            , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
            , zIndex: 2e9 // The z-index (defaults to 2000000000)
            , className: 'spinner' // The CSS class to assign to the spinner
            , top: '50%' // Top position relative to parent
            , left: '50%' // Left position relative to parent
            , shadow: false // Whether to render a shadow
            , hwaccel: false // Whether to use hardware acceleration
            , position: 'absolute' // Element positioning
        };
        spinner = new Spinner(opts);
        $("#waiting-div").text("");
        var target = document.getElementById('waiting-div');
        spinner.spin(target);
        var w;
        var target_js = "{% static "app/js/station_ranking.js" %}";
        if(typeof(Worker)!=="undefined"){
            try{
               if(typeof(w)=="undefined"){
                    w=new Worker(target_js);
                }
                w.onmessage = function (event) {
                    var ret = event.data;
                    if(ret == "error"){
                        get_station_ranking();
                    }else{
                        showData(ret);
                    }
                };
            }catch (e){
                console.log("check");
            }
        }else{
            document.getElementById("result").innerHTML="Sorry, your browserdoes not support Web Workers...";
        }
        function get_station_ranking(){
            $.ajax({
                url: '/station_ranking/',
                type: 'GET',
                success:function(res){
                    showData(JSON.parse(res));
                },
                error:function(res){
                }
            });
        }
        function showData(data){
            var real_time = data["real_time"];
            var yesterday_time = data["yesterday_time"];
            var week_time = data["week_time"];
            var month_time = data["month_time"];
            var table_body = $("#panel-realTime tbody");
            var data_len = real_time.length;
            for(var i = 0; i < data_len; ++i){
                var data = real_time[i];
                var item = "<tr><td>" + (i+1) + "</td><td><span class=\"level" + data["level"] + "_background\" style=\"padding:3px 25px;\">" + data["classification"] + "</span></td><td>" + data["name"] + "</td><td>" + data["pm25"] + "μg/m³</td><td>" + data["AQI"] + "</td></tr>";
                table_body.append(item);
            }
            table_body = $("#panel-yesterday tbody");
            data_len = yesterday_time.length;
            for(var i = 0; i < data_len; ++i){
                var data = yesterday_time[i];
                var item = "<tr><td>" + (i+1) + "</td><td><span class=\"level" + data["level"] + "_background\" style=\"padding:3px 25px;\">" + data["classification"] + "</span></td><td>" + data["name"] + "</td><td>" + data["pm25"] + "μg/m³</td><td>" + data["AQI"] + "</td></tr>";
                table_body.append(item);
            }
            table_body = $("#panel-week tbody");
            data_len = week_time.length;
            for(var i = 0; i < data_len; ++i){
                var data = week_time[i];
                var item = "<tr><td>" + (i+1) + "</td><td><span class=\"level" + data["level"] + "_background\" style=\"padding:3px 25px;\">" + data["classification"] + "</span></td><td>" + data["name"] + "</td><td>" + data["pm25"] + "μg/m³</td><td>" + data["AQI"] + "</td></tr>";
                table_body.append(item);
            }
            table_body = $("#panel-month tbody");
            data_len = month_time.length;
            for(var i = 0; i < data_len; ++i){
                var data = month_time[i];
                var item = "<tr><td>" + (i+1) + "</td><td><span class=\"level" + data["level"] + "_background\" style=\"padding:3px 25px;\">" + data["classification"] + "</span></td><td>" + data["name"] + "</td><td>" + data["pm25"] + "μg/m³</td><td>" + data["AQI"] + "</td></tr>";
                table_body.append(item);
            }
            spinner.spin();
        }
    </script>
{#    <script>#}
{#        var map = new BMap.Map("map");          // 创建地图实例#}
{#        var point = new BMap.Point(117.533683,30.699859);  // 创建点坐标#}
{#        var sContent =#}
{#        "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>池州</h4>" +#}
{#        "<img style='float:right;margin:4px' id='imgDemo' src='http://b.hiphotos.baidu.com/baike/pic/item/adaf2edda3cc7cd9645689f33101213fb80e91a5.jpg' width='139' height='104' title='天安门'/>" +#}
{#        "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>安徽征圣智能科技有限公司主要从事设计、研发、制造和销售电力计量和智能电网配套设备。公司于2011年11月在池州经济技术开发区注册成立，公司现有员工100余人，其中专业研发人员占员工总数的32%，企业注册资金3000万元人民币。 公司在池州投建的年产150万户电能计量箱项目及永磁真空断路器及高压柜项目。该项目占地约60亩，总投资20000万元，其中固定资产投资16000万元。项目达产后年产值可达5亿元以上。达产后将填补池州市新材料（工程塑料）智能电能计量箱、第一代物联网设备、永磁智能真空断路器及小型集成化智能电控高压柜生产企业的空白。</p>" +#}
{#        "</div>";#}
{#        var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象#}
{#        var marker = new BMap.Marker(point);#}
{#        map.addOverlay(marker);#}
{#        marker.addEventListener("click", function(){#}
{#            lushu.start();#}
{#            this.openInfoWindow(infoWindow);#}
{#            //图片加载完毕重绘infowindow#}
{#            document.getElementById('imgDemo').onload = function (){#}
{#               infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏#}
{#            }#}
{#        });#}
{#        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画#}
{#        map.addControl(new BMap.NavigationControl());#}
{#        map.addControl(new BMap.ScaleControl());#}
{#        map.addControl(new BMap.OverviewMapControl());#}
{#        map.addControl(new BMap.MapTypeControl());#}
{#        var geolocationControl = new BMap.GeolocationControl();#}
{#        geolocationControl.addEventListener("locationSuccess", function(e){#}
{#            // 定位成功事件#}
{#            var address = '';#}
{#            address += e.addressComponent.province;#}
{#            address += e.addressComponent.city;#}
{#            address += e.addressComponent.district;#}
{#            address += e.addressComponent.street;#}
{#            address += e.addressComponent.streetNumber;#}
{#            alert("当前定位地址为：" + address);#}
{#        });#}
{#        geolocationControl.addEventListener("locationError",function(e){#}
{#            // 定位失败事件#}
{#            alert(e.message);#}
{#        });#}
{#        map.addControl(geolocationControl);#}
{#        map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别#}
{#        map.enableScrollWheelZoom();#}
{##}
{#        map.enableInertialDragging();#}
{#        map.enableContinuousZoom();#}
{#        var size = new BMap.Size(10, 20);#}
{#        map.addControl(new BMap.CityListControl({#}
{#            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,#}
{#            offset: size#}
{#        }));#}
{#    </script>#}
{% endblock %}